[2017-03-08 22:05] mmw590 opened #6 "date formatting"
@teixeirak
weird date formatting in plothistory, perhaps due to autoformatting in Excel?
needs to be unambiguous, ideally in YYYY-MM-DD format.

[2017-03-09 02:22] teixeirak opened #7 "calculate dates of forest regeneration in plot history"
@mmw590, I added entries in the plot history for all the previously missing sites/plots. There are quite a few that have age data in the measurements file. If you have code to calculate their regeneration dates based on age and date of measurement, it would be great to add those dates to the measurements file. See notes therein.

[2017-03-09 02:47] teixeirak commented on #6
We also appear to have a date error in the measurements file, start date for lines 2288,2289,2302, and 2303.

[2017-03-09 15:43] mmw590 commented on #7
I have Excel code to calculate stand.age from dates in 'datavalidationonlyNOENTRY' tab in 2ForC_data_sites_plothistory.xlsx, if that's useful.
![image](https://cloud.githubusercontent.com/assets/10426014/23757565/34c11f3e-04b5-11e7-9133-58911f19ccf8.png)

[2017-03-09 17:33] teixeirak commented on #6
this has been fixed for the plothistory file.

[2017-03-09 17:36] teixeirak opened #9 "check for additional TropForC updates since original publication"
Updates to TropForC measurements, sites, and plothistory files made after the original publication have now been posted in this public repository. However, there may be additional updates to supporting files (e.g., allometries) that have not yet been posted.

[2017-03-09 20:41] teixeirak commented on #6
Dates in the measurements file have been reformatted, and incorrect dates identified above fixed.

[2017-03-09 21:29] teixeirak commented on #7
Done

[2017-03-10 02:51] mmw590 commented on #6
There were more date errors in plothistory. The formatting did not stick (Excel is really annoying in this aspect- you have to change your computer settings in order to change Excel's default date format, even for csv).

Also, Excel doesn't recognize dates before 1900. If Excel automatically changes the date format to something else (like m/d/yy), the dates before 1900 will not get changed (1600-0

[2017-03-11 20:13] mmw590 opened #12 "issues in plothistory and measurements (plot.name, duplicate entries)"
1. plot.names not matching between measurements and plothistory:
- changed spelling: 'Terra' changed to 'terra'. 'firme' changed to 'firma'
- plot.names in measurements manually changed to be follow what was in plothistory.

2. duplicate entries in plothistory with no extra information (all NACs).
- these entries were manually removed and attached here
[TropForC_plothistory_duplicatesremoved.xlsx]

[2017-03-11 20:21] mmw590 commented on #6
Date issues persists, particularly with dates in early 1900s! Need to find uncontaminated version of plothistory with correct dates.

[2017-03-13 14:16] teixeirak commented on #7
I did this but somehow lost the changes.

[2017-03-13 15:08] teixeirak commented on #6
Is this just plothistory or also measurements?

Are they correct in the master version in ForC_private?

[2017-03-13 16:48] teixeirak commented on #12
Thanks! These are now in the master branch.

[2017-03-13 18:28] teixeirak commented on #12
I spoke too soon. I have not yet been successful in merging into the master branch. Reopening this issue.

[2017-03-13 19:00] mmw590 commented on #12
I can just upload the files into a new branch

[2017-03-13 19:04] teixeirak commented on #12
If you can figure out how to resolve it, that would be wonderful!

On Mar 13, 2017, at 3:01 PM, Maria Wang <notifications@github.com<mailto:notifications@github.com>> wrote:

I can just upload the files into a new branch

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub<https://github.com/forc-db/ForC/issues/12#issuecomment-2862092

[2017-03-13 20:29] teixeirak commented on #12
resolved with pull request #14 .

[2017-03-13 20:29] #12 closed

[2017-03-14 00:25] teixeirak commented on #6
This is fixedin plothistory. @mmw590, Is it also a problem for measurements?

[2017-03-14 03:38] teixeirak commented on #7
Done.

[2017-03-14 03:38] #7 closed

[2017-03-17 22:14] teixeirak commented on #6
I checked the measurements file, and confirmed that dates are correct. Closing this issue.

[2017-03-17 22:14] #6 closed

[2017-03-18 04:35] teixeirak opened #16 "Aragao 2009 records"
@mmw590, In the measurements file, there are differences between Aragao 2009 records in this master version of TropForC and the original spreadsheet (2ForC, in the private repository). I'm not sure which is the correct version. Could you please take a look?

[2017-03-20 22:33] mmw590 commented on #16
2ForC is more correct (I got the values directly from Aragao 2009 - thanks past self for keeping the format conversion tables and highlights in the pdf). I did find a couple of small errors though, and fixed them.

[2017-03-21 00:12] teixeirak commented on #16
Thanks for fixing that!

On Mar 20, 2017, at 6:33 PM, Maria Wang <notifications@github.com<mailto:notifications@github.com>> wrote:

2ForC is more correct (I got the values directly from Aragao 2009 - thanks past self for keeping the format conversion tables and highlights in the pdf). I did find a couple of small errors though, and fixed them.

—
You are receiving this because you authored the th

[2017-05-26 03:47] teixeirak commented on #16
Updated in master version (currently offline).

[2017-05-26 03:47] #16 closed

[2017-05-26 04:18] teixeirak commented on #9
All files have now been updated.

[2017-05-26 04:18] #9 closed

[2017-06-02 20:02] teixeirak opened #17 "update R code to work with new database structure"
Database structure has been modified a bit; @mmw590's [R code](https://github.com/forc-db/ForC/blob/master/scripts/archive/ForC_Rcode.txt) may need to be modified to run correctly.

[2017-06-02 20:12] teixeirak opened #18 "update or remove Regentype field"
Regentype (measurements table; populated based on plothistory data using @mmw590's R code) has not been populated for extratropical sites. Categories should be redefined to be more appropriate for extratropical sites.

[2017-06-02 20:13] teixeirak opened #19 "update metadata"
Metadata is currently out of date.

[2017-06-03 04:19] teixeirak opened #20 "update bibliography"
Bibliography is currently out of date (includes only records from TropForC-db v. 1.0).

[2017-08-03 19:08] bpbond commented on #17
Hi @teixeirak I'd also be happy to do this--it would be a good way to get my feet wet so to speak.
Ben

[2017-08-04 13:52] teixeirak commented on #17
That would be great, @bpbond, but with the caveat that I'm currently revising the disturbance history, so there are some more changes to come. I will try to get all this up on Github ASAP, but in the meantime feel free to contact me with questions.

[2017-08-11 20:51] teixeirak opened #21 "Add Regentype and Managementtype codes"
@ValentineHerr, ForC does not currently contain Regentype and Managementtype (Measurements file) for extratropical sites. I have found a [file where Maria had added these codes](https://github.com/forc-db/ForC_private/blob/master/archived%20database%20versions/ForC_2016-02/ForC_measurements_lifeform.csv). Could you please merge these into the master? (I'm assuming this will be easy. If not, please

[2017-08-14 15:15] ValentineHerr commented on #21
@teixeirak, It looks like some sites.sitename or plot.names have changed since Maria's version.
I am able to fix all of them but one: in public version, record of site.sitename ="Honghuaerji" and plot.name = "birch stand_age55" for stand.age is 81. So I am not sure how to handle that one. The only [sitename plotname] we have in maria's version is "Honghuaerji Pinus sylvestris var. mongolica"
Let m

[2017-08-14 16:20] teixeirak commented on #21
I located and fixed the problem in ForC_measurements (just pushed the fixed file).

[2017-08-14 16:36] teixeirak opened #22 "Check for and correct any records where different-aged stands are identified by a single plot"
@ValentineHerr,

There may be some records where stands of different age have the same site and plot name. As every plot should be differentiated based on the site and plot names only, this would be incorrect.
Note, however, that when the same plot is repeatedly measured, site and plot name should stay the same while stand age changes. * Problematic records would be those with the same site name,

[2017-08-14 17:33] teixeirak opened #23 "Create script to do some basic database checking"
It would be good to have a script [here](https://github.com/forc-db/ForC/tree/master/scripts) (public database) that can be run whenever there is a substantial update to the database to check that the structure of the database remains correct and that there are no egregious errors in values.

Here's the start of a list of things to check:

- [x]  For each site-plot combination in MEASUREMENTS, the

[2017-08-14 18:15] teixeirak commented on #18
Now addressed in #21.

[2017-08-14 18:15] #18 closed

[2017-08-14 18:17] teixeirak commented on #23
@bpbond, you may also be interested in this one.

[2017-08-15 01:27] teixeirak commented on #21
Resolved here: https://github.com/forc-db/ForC/pull/24.

[2017-08-15 01:37] teixeirak commented on #22
Fortunately, I found that this issue was not present in the database (in any significant way). There were (and still are) some instances where there are multiple ages listed for a plot for the same measurement year. Reasons for this include:
1- A discrepancy in age reported by different studies reporting on the same site. These are usually relatively small differences. I have retained the ages as

[2017-08-15 01:37] #22 closed

[2017-08-15 02:16] teixeirak commented on #21
Upon some more review, there actually seem to be quite a few errors in these two fields, including some inconsistencies with the earlier version(s) (for example, cocoflux). @ValentineHerr, could you please see if you can figure out what happened? I did do some editing by hand, so best to go back to the first version you created.
If this is too difficult to sort out, it might make sense to simply r

[2017-08-15 10:45] bpbond commented on #23
Started on this.
[code]

Before I go farther @teixeirak is something like this what you're thinking of? See code at https://github.com/bpbond/ForC/blob/qc-script/scripts/checks.R

[2017-08-15 12:05] teixeirak commented on #23
From a quick look, yes, this does look like what I have in mind. We will want to generate text or files listing the errors.

I'm surprised at the number of errors. When we checked a few months ago, there were none. If you can generate a file listing the errors, I'll figure out what's wrong. I suspect that some very minor changes to plot names (e.g., trailing space) got introduced.

[2017-08-15 12:10] bpbond commented on #23
OK. I will trim white space, implement the other checks on your list, and post the results.

[2017-08-15 12:27] bpbond commented on #23
It looks like most of the mismatches are coming on non-English site names that are encoded, e.g., as `Xiaoxing''anling` in one table but ` Xiaoxing'anling` in another.

[2017-08-15 13:28] bpbond commented on #23
OK, the script now checks all the issues above except the last (and I'll do that in a bit). Should I start listing the issues one by one here for you to check and resolve?

[2017-08-15 13:55] teixeirak commented on #23
I don't understand why you crossed out the comment about site names. This does make sense; specifically, I believe that [my Matlab script that generates ForC_plots from ForC_history](https://github.com/forc-db/ForC_private) (I will move to public repository soon) introduces this error to sites whose name includes the ' character.

[2017-08-15 13:58] teixeirak commented on #23
It would be great if you could program the script to generate files reporting the errors.
In the long run, I'd like to use this script as something that database managers can run to check new pull requests.

[2017-08-15 14:53] bpbond commented on #23
I'm going to open separate issues for all the mismatches, OK? Seems like a cleaner way to deal with things.

[2017-08-15 15:38] bpbond opened #25 "Mismatches between site-plot combinations in MEASUREMENTS and PLOTS"
First, there are 30 `sites.sitename` values that appear in MEASUREMENTS that don't appear in PLOTS. These are all sites with apostrophes in the name, which sounds like is due to a known bug in MATLAB or the script you're using.

Second, there are 58 (but only 5 unique) plot names in MEASUREMENTS that don't appear in PLOTS.

measurementID | plot.name
-- | --
2654 | Eucalypt open-forest savanna
6488

[2017-08-15 15:54] teixeirak commented on #23
yes, thanks

[2017-08-15 16:32] teixeirak commented on #25
Thanks, I'll work through these as soon as I get a chance.

[2017-08-15 22:15] bpbond opened #26 "Make the database into an R package?"
There are some significant advantages to taking a collection of data and code, as here, and making it into an [R package](http://r-pkgs.had.co.nz).

* **Easy for users.** R users are very accustomed to doing `library(xxx)` as part of their analysis scripts, and packaging the ForC data in this way makes it super easy for people to use.
* **Reproducible science.** In line with the above point, users

[2017-08-16 00:18] teixeirak commented on #26
Sounds great, except that I don't have experience with this. If you and/or @ValentineHerr want to take this on, I'm supportive.

[2017-08-16 03:41] teixeirak opened #27 "transfer vegetation notes from sites to measurements table"
The *notes* field in the SITES table contains some notes describing the vegetation, and these are more appropriate for the *vegnotes* field in the MEASUREMENTS table.

[2017-08-16 03:43] teixeirak commented on #21
Upon further thought, because these two fields were primarily generated by code (and fixed by hand), in order to make them transparent/ reproducible, its probably better to remove them or provide code (Maria's or new) to generate them.

[2017-08-16 04:42] teixeirak commented on #25
I've confirmed that  the ' character was replaced with " during the process of converting Matlab output back to .csv. It is fixed, albiet with a clunky system ([readme here](https://github.com/forc-db/ForC_private/blob/master/plothistory%20revamp/ForC_plots.xlsx)).

With regards to the missing site names, I believe the last 4 rows should have been solved when the ' character problem was fixed. The

[2017-08-16 16:43] bpbond commented on #26
I have good experience at this, so should be straightforward to do...I'd suggest let's deal with your #23 and #17 first.

[2017-08-16 18:43] bpbond commented on #25
Thanks! I will re-check in a bit. Ah, I see your point about NI ≠ NA.

[2017-08-17 03:06] teixeirak commented on #21
I deleted these fields for two reasons:
1-They appeared to have become corrupted.
2- These two fields were primarily generated by code (and fixed by hand). In order to make them transparent and reproducible, it would be better to provide code to generate them.

I think it would be great to reinstate these or similar fields, and this should not be difficult as we now have the PLOTS file and previou

[2017-08-17 03:06] #21 closed

[2017-08-17 03:16] teixeirak opened #28 "Create/ reinstate fields for management status and disturbance/regeneration category"
Previous versions of this database contained "managementtype" and "regentype"  fields, which broadly categorized forests based on their management status and disturbance/regeneration category (e.g., natural regeneration following agriculture, plantation).

These were deleted because they appeared to have become corrupted and because of lack of transparency/reproducibility in how they were calculat

[2017-08-18 18:25] bpbond commented on #25
OK, things looking much better:
[code]

The "1" is this:
[code]
...and it's true, this `sites.sitename` and `plot.name` combination does not appear in MEASUREMENTS.

[2017-08-18 18:27] bpbond opened #29 "Mismatches between PLOTS and SITES records"
[code]

👍

[2017-08-18 18:32] bpbond opened #30 "Mismatches between PLOTS and HISTORY"
[code]

👏

[2017-08-18 18:41] bpbond opened #31 "Mismatches between MEASUREMENTS and METHODOLOGY"
[code]

This is because three values in MEASUREMENTS$method_id don't appear in METHODOLOGY: `NI`, `NAC`, and `436`.

I assume the first two are a string matching issue--how should this be handled? Do we ignore MEASUREMENT entries with `method_id` equal to NI or NAC?

The last one, `436`, might be a genuine problem?

[2017-08-18 18:43] bpbond opened #32 "Mismatches between MEASUREMENTS and PFT"
[code]

Similar to #31 , should `NAC` and `NI` entries in MEASUREMENTS be ignored here?

[2017-08-18 18:46] bpbond commented on #23
Note that this isn't currently possible, as the `min` and `max` of VARIABLES don't have any data.

[2017-08-18 18:46] teixeirak commented on #31
NI and NAC are missing value codes, so yes, ignore these.

436 was a genuine problem. I changed those to NAC, resolving this issue.

[2017-08-18 18:46] #31 closed

[2017-08-18 18:46] teixeirak commented on #30
thanks!

[2017-08-18 18:46] #30 closed

[2017-08-18 18:47] teixeirak commented on #29
thanks!

[2017-08-18 18:47] #29 closed

[2017-08-18 18:48] bpbond commented on #22
So should the qc script ( #23 ) check for this issue?

[2017-08-18 18:56] teixeirak commented on #22
I'm satisfied that there are no plots that need to be split because multiple stands of different age were represented by the same plot.

However, it would probably be useful (although not super high priority) for the qc script to identify inconsistencies in stand age & measurement date within plots. For example, if the stand was 20 years old in 1990, it should be 21 in 1991. I suspect that there w

[2017-08-18 21:22] teixeirak commented on #32
Yes, that will be the case anywhere in the database.

[2017-08-18 21:22] #32 closed

[2017-08-18 21:30] teixeirak commented on #25
Extraneous plot record removed; thanks for catching it.

[2017-08-18 21:30] #25 closed

[2017-08-22 11:48] teixeirak commented on #19
Updates done, with the exception of the entity relationship diagram, which I'll open as a new issue.

[2017-08-22 11:48] #19 closed

[2017-08-22 11:50] teixeirak opened #34 "Update entity relationship diagram."
The entity relationship diagram is currently out of date and needs to be updated both for this site and our publication. An editable version is [here](https://drive.google.com/file/d/0B9F3sC2fKyd3WS1lZzcwYXd4UmM/view?usp=sharing). @ValentineHerr, it would be great if you could update this.

[2017-08-22 18:19] teixeirak opened #35 "finish/load script to make historgram of stand ages"
Please load the script used to make this figure.

![image](https://user-images.githubusercontent.com/6355854/29580570-7404b428-8744-11e7-861b-b1c7b215bf0e.png)

Then, update as follows:

- [x] add legend (tropical, extratropical)
- [x] try grouping by 5-year age bins
- [x] add two bars at the left end: one for for stands of known age >200 years, another for old-growth/undisturbed stands (coded 999

[2017-08-22 18:47] teixeirak opened #36 "finish/load script to plot climate of ForC sites"
Please load the script used to create this figure:
![image](https://user-images.githubusercontent.com/6355854/29581216-a05e41fe-8746-11e7-9753-a34b8aa616c4.png)

Modify as follows:
- [ ] add a histogram of Köppen-Geiger climate zones represented in the database (*Koeppen* field in SITES). Use horizontal bars along the x axis to group climate zones into broader categories: A-Tropical; B-Arid; C-Tem

[2017-08-22 18:54] teixeirak opened #37 "load script to make histogram of elevations"
Please load the script used to make this figure
![image](https://user-images.githubusercontent.com/6355854/29582111-7f5e32f4-8749-11e7-8843-2c6af17dd613.png)

[2017-08-23 12:29] bpbond commented on #36
I did something similar recently, plotting a database over the [CRU climate data](http://www.cru.uea.ac.uk/data) to produce this figure:
![climate_space](https://user-images.githubusercontent.com/1956468/29615741-0f528b24-87dd-11e7-90a3-67596da00dc4.png)
Happy to share code/data if useful.

[2017-08-23 12:37] teixeirak commented on #36
I'd like to put that in the background of this figure; it would be great if you could share the code.

[2017-08-23 14:00] bpbond commented on #36
Here's the relevant code:
[code]

[2017-08-23 14:03] bpbond commented on #36
[crudata_period.csv.gz](https://github.com/forc-db/ForC/files/1245643/crudata_period.csv.gz)

Here's the data file this code reads, a summary of CRU data for 1990-2014. I can compute another period if you'd prefer.

[2017-08-23 15:28] teixeirak commented on #36
Thanks! That time period is great. @ValentineHerr, could you please take a stab at this?

[2017-08-23 17:20] #37 closed

[2017-08-23 17:31] teixeirak opened #38 "write script to make a histogram of number of records by measurement date"
This will be Fig. 1 in the data paper.

Here's what we want:

Histogram showing years in which data were collected or originally published. For records lacking information on the year in which measurements were made, we substitute year of the data’s original publication. If this is unknown (## records), the record is excluded from this histogram.

Shade black when we have the year of measurement,

[2017-08-23 17:35] teixeirak opened #39 "load script to make map of ForC sites"
Please load the code to make this figure:
![image](https://user-images.githubusercontent.com/6355854/29629651-9a07b954-8807-11e7-8fce-ae45b4e03d1d.png)

It would also be good to have a simplified version with minimized height that leaves out the biogeographic zones and chart (for a grant proposal).

[2017-08-23 17:38] teixeirak opened #40 "load/modify script to make histogram of dominant vegetation types"
Please load the code used to make this figure:
![image](https://user-images.githubusercontent.com/6355854/29629808-12322cc0-8808-11e7-9f98-6ae85cbc00e0.png)

Please make the following modifications:

Rearrange some of the categories:
-change grass or shrubs to just grass
-new category: 2TM, which includes 2TD and 2TE.
-woody other/unclassified- for dominant lifeform=woody and dominant veg = 2TREE,

[2017-08-23 18:59] ValentineHerr commented on #36
@teixeirak where should we store CRU data? If we use it in the code it should be somewhere.

[2017-08-23 19:11] teixeirak commented on #36
Assuming its okay to make it public (@bpbond ?) , lets add a separate "supplementary resources" folder and put it there.

[2017-08-23 20:07] ValentineHerr commented on #36
![climate_of_forc_sites](https://user-images.githubusercontent.com/19673377/29636007-082eb49a-881d-11e7-80af-5c54400c78e7.png)

@teixeirak, is this figure working for you ? (I tried to attach it, let me know if that doesn't work).

[2017-08-23 20:10] ValentineHerr commented on #36
It needs some twists probably...
@teixeirak, Do you want me to create a new directory to archive the figures ?

[2017-08-23 20:16] teixeirak commented on #36
(a) looks wonderful! One small change-- let's do the same as in the original version with black symbols for ForC climate values and white/black outline symbols for those pulled from a database.

for (b),
- [ ] if feasible, let's separate out by individual climate zone (e.g., separate A into Af, Aw, Am, etc), then put a horizontal bar under each grouping with a label. For example, all A_ climates w

[2017-08-23 20:34] teixeirak commented on #36
let's put both in a folder called supplementary resources/WorldClim data

[2017-08-23 20:47] ValentineHerr commented on #23
@bpbond I am running into errors with https://github.com/forc-db/ForC/blob/master/scripts/checks.R:

- line 111: "Error: `by` can't contain join column `distcat`, `disttype` which is missing from LHS"
- line 123: "Error in (function (classes, fdef, mtable)  :
  unable to find an inherited method for function ‘select’ for signature ‘"tbl_df"’"

I should probably start getting more into Hadley Wickh

[2017-08-23 21:29] bpbond commented on #23
@ValentineHerr Uh oh, this is probably my bad–I think @teixeirak renamed those columns and I didn't properly update the script (or the changes didn't get pushed to the PR). Apologies. I'll turn to this in a bit and look.

[2017-08-23 21:31] bpbond commented on #36
Re public data, sure, it's just summarized HadCRUT4 data, and those are public.

Figure looks great!

[2017-08-23 21:36] ValentineHerr commented on #36
![climate_of_forc_sites](https://user-images.githubusercontent.com/19673377/29639622-67bb187a-8829-11e7-922d-e058c36be097.png)
@teixeirak  is this better/good to go?

[2017-08-24 00:12] teixeirak commented on #36
Reopening because I think we still need to load the script

[2017-08-24 13:21] ValentineHerr commented on #36
done

[2017-08-24 13:21] #36 closed

[2017-08-24 13:51] ValentineHerr commented on #39
@teixeirak, Can I load shapefiles of SYNMAP and WWF Ecoregions in supplementary_resources/World Map data ?

[2017-08-24 14:02] ValentineHerr commented on #39
@teixeirak, when you say "leave out the biogeographic zones" do you mean remove colors and leave shades of grey for forest cover?

[2017-08-24 15:47] #35 closed

[2017-08-24 16:24] #39 closed

[2017-08-24 17:58] ValentineHerr commented on #40
I am getting confused with some of the categories.
Here are the unique combinations of dominantveg and dominant.lifeform found in MEASUREMENTS along with my guess for the category in the plot. @teixeirak, can you review?
dominantveg,dominant.lifeform --> my guess
2TEB,woody --> 2TEB
2TDB,woody --> 2TDB
2TEN,woody --> 2TEN
2TB,woody --> 2TDB
2TM,woody --> 2TM
NAC,woody --> woody other/unclassified

[2017-08-24 21:04] ValentineHerr commented on #23
line 111 is catching up some "meaningless" discrepancy between "regrowth(_prior)" in HIST and "Regrowth" in HISTORY (same with "Disturbance(_prior)" and "Disturbance").
@bpbond, could you adapt script to look for pattern "Regrowth" or "Disturbance" instead of matching exactly the character strings?
Krista and I discussed the option of copying the X(_prior) in HIST but that means if something chang

[2017-08-25 11:44] bpbond commented on #23
Is it just for these two, or should there be a general rule that "xxxx(yyy)" always matches "xxxx"?

[2017-08-25 12:00] teixeirak commented on #23
It is just those two.

[2017-08-25 12:22] bpbond commented on #23
[code]

So, is this what is wanted?

HISTORY$histcat | HIST$histcat | Should match?
--------- | ---- | ----
Disturbance | Disturbance(_prior) | Yes
Regrowth | Regrowth(_prior) | Yes
Disturbance_prior | Disturbance(_prior) | Yes?
Regrowth_prior | Regrowth(_prior) | Yes?

[2017-08-25 12:42] teixeirak commented on #23
Yes.

Disturbance_prior matches Disturbance(_prior), and same for regrowth.

[2017-08-25 12:53] bpbond commented on #23
Should "Fertilization_N", "Fertilization_P" etc. in HISTORY all match "Fertilization_X" in HIST?

[2017-08-25 12:54] teixeirak commented on #23
Yes. Sorry I missed that before.

[2017-08-30 14:52] ValentineHerr commented on #40
@teixeirak, Just to double check:
2SHRUB,woody+grass --> savanna
2SHRUB,woody --> woody other/unclassified
?

[2017-08-30 14:53] teixeirak commented on #40
correct.

[2017-08-30 15:11] #40 closed

[2017-08-30 16:06] ValentineHerr commented on #38
@teixeirak Do you want me to to 5-year bins for the dates or is this good?
![histogram_of_number_of_records_by_measurement_date](https://user-images.githubusercontent.com/19673377/29882628-9d92ffb0-8d7b-11e7-82b5-7893144713f2.png)

[2017-08-30 18:00] teixeirak commented on #38
Sorry for the lagged response.

Let's do 5-year bins.

This figure is a bit deceptive in that the publication year of data loaded from previous databases (e.g., Luyssaert et al. 2007) lags the year of the actual measurement/ original publication. However, I'd rather explain that in the caption than try to fix it in the figure.

[2017-08-30 18:30] ValentineHerr commented on #38
Loaded script and figure.

[2017-10-17 17:58] teixeirak opened #43 "check BDFFP plotarea"
For BDFFP sites, _plotarea_ appears to be fragment size. Depending on sampling design, this may or may not be appropriate. Specifically, if the entire area of each fragment was thoroughly sampled or systematically subsampled, it is approriate that _plotarea_=fragment size. However, if a single plot of defined size was located somewhere within the fragment, that is the plot size that should be reco

[2017-12-11 22:17] ValentineHerr opened #44 "Filling FAO ecozone and KOEPPEN for sites where is it missing"
@teixeirak ,

1- All FAO ecozones to fill are for Klamath sites, right ? (Temperate Montain system)
2- There are 6 sites where I get a different FAO than the one already in the data base.  I am guessing that was edited by hand at some point but I want to make sure.

Here is the list (sites.sitename: WAS --> I FOUND)

- [ ] Vancouver Island unmanaged plantatio: Boreal coniferous forest -->Temperate

[2017-12-11 22:52] ValentineHerr commented on #44
Same issue with KOEPPEN, for 16 sites:

sites.sitename,WAS, I FOUND

- [ ] Changjiaba,Cwa,Dwb
- [ ] Sichuan Picea, Abies,Dwc,Dwb
- [ ] Yajiang,Cwb,Dwc
- [ ] Xiachayu,Dwc,Cwc
- [ ] Lingzhi,Dwb,Dwc
- [ ] Fuyun 1,Dfb,BSk
- [ ] Biliuti 2,Dfb,BSk
- [ ] San Lorenzo CTFS-ForestGEO plot,Am,As
- [ ] Johnson et al 2000_needleleaf on sandy soil_11,Dfb,Dfc
- [ ] Johnson et al 2000_moist_4,Aw,Af
- [ ] Las Marg

[2017-12-12 15:26] teixeirak commented on #44
With the exception of sites that fall in the water, all values should be as extracted from the maps.

[2017-12-12 15:37] ValentineHerr opened #45 "Allometric equation #15 missing"
@teixeirak ,
Allometric equation #15 is  missing in ALLOMETRY but referred to in MEASUREMENTS (allometry column).

[2017-12-12 15:42] teixeirak commented on #45
Please remove from measurements, put 'NAC' in its place.

[2017-12-12 19:09] ValentineHerr commented on #45
There are 22 allometric equations in ALLOMETRY that have no corresponding records in MEASUREMENTS (neither in allometry nor in allometry2)

@teixeirak, should I delete them or keep for future data ?

[2017-12-12 19:28] teixeirak commented on #45
Please keep.

[2017-12-12 19:48] #45 closed

[2017-12-13 21:35] teixeirak commented on #38
I'm not sure if this plot is showing what I had in mind.  Typically, C stock measurements will have a date in the "date" field, while C flux measurements will have dates in start_date and end_date. I know you used end_date, but did you also use date? (I suspect not, because the oldest date, 1934, does not register here.) If you did not use date, all  C stock measurements would have been assigned y

[2017-12-13 21:51] ValentineHerr commented on #38
Is it okay If I do something like:

first use date_end
if missing use date
if also missing use citation.year

?

[2017-12-13 21:53] teixeirak commented on #38
Yes. At least in theory, if there's a record for end_date, there's not one for date, and vice versa.

[2017-12-13 22:08] teixeirak commented on #38
Also, we want to exclude publication dates when those are for a big compilation. Please exclude the following when they are listed in the

citations.author and citations.year fields, and count those records as unknown date:

: (Anderson et al. 2006, Litton et al. 2007, Luyssaert et al. 2007, Baldocchi 2008, Keith et al. 2009, Liu et al. 2014, Yu et al. 2014).

[2017-12-14 14:33] ValentineHerr commented on #38
I don't see Anderson et al. 2006 in the data base.

For Keith et al. 2009, there is 2 papers. I am taking "Re-evaluation of forest biomass carbon stocks and lessons from the world's most carbon-dense forests" over "Multiple measurements constrain estimates   of net carbon exchange by a Eucalyptus forest", OK ?

[2017-12-14 14:38] teixeirak commented on #38
This is because we obtained original citations for all studies in Anderson studies. (That Anderson is me in pre-Teixeira life, by the way!)

It looks like the same is the case for the Keith et al. 2009 data. That study does present several new values, so please leave those.

[2017-12-14 14:50] ValentineHerr commented on #38
Ok so I leave blank all records with no dates and cited in Litton et al. 2007, Luyssaert et al. 2007, Baldocchi 2008, Liu et al. 2014, Yu et al. 2014

[2017-12-14 14:53] ValentineHerr commented on #38
Now histogram looks like that:
![histogram_of_number_of_records_by_measurement_date](https://user-images.githubusercontent.com/19673377/33998070-77f17a70-e0b4-11e7-88f9-4e908fc05d56.png)

Last bin is not 5 year big... Is that ok?

[2017-12-14 15:03] teixeirak commented on #38
Ah, that looks better (in terms of completeness of our records). Perhaps you could have the first bin be pre-1960 (or so), and then break out the rest of the record in narrower bins.

[2017-12-14 15:27] ValentineHerr commented on #38
Actually 5-year bin is ideal in that case as it comes out even :
![histogram_of_number_of_records_by_measurement_date](https://user-images.githubusercontent.com/19673377/33999295-23bb56a2-e0b8-11e7-95c2-45b72881533a.png)

This is with 3-year bin (but last bin is only 1 year big):
![histogram_of_number_of_records_by_measurement_date](https://user-images.githubusercontent.com/19673377/33999455-846c9

[2017-12-14 15:28] teixeirak commented on #38
This looks great! Call it final.

[2017-12-14 18:06] #38 closed

[2017-12-14 19:01] ValentineHerr opened #46 "Minor issues"
@teixeirak
I will use this issue to ask you a few things that I need your input with

- [x] In HISTORY _percent.mortality_ there is 8 records with value "<<100%" and 184 with "<100%". I am ignoring them to calculate range  (in metadata) but I want to make sure you want to keep that (especially the "<<100%")
- [x] In HISTORY _plothistoryID.v1_ I get 5722 for the max and you had 2477. Is that normal

[2017-12-14 20:01] teixeirak commented on #46
**Please leave these**

In HISTORY plothistoryID.v1 I get 5722 for the max and you had 2477. Is that normal ?

**I think what happened here is that your number refers to the entire version 1, whereas mine refers to only TropForC-db (the published component). Stick with yours.**

In metadata of HISTORY levels I am replacing the range I find by NA, OK ?

**I'm not sure I understand this question. Bu

[2017-12-14 20:30] ValentineHerr commented on #46
Indeed I get 248 geographic areas records published in first version and 580 new ones.

Also,  do we want a range of _establishment.ID_ in metadata of PLOTS ? or should I keep "-"

[2017-12-14 20:32] teixeirak commented on #46
Let's delete reference to the old number of plots.

[2017-12-14 20:33] teixeirak commented on #46
Please remove range for all metadata files, and replace with min, max, and mean. Does that get at your question? (I'm not sure I understand.)

[2017-12-14 20:35] ValentineHerr commented on #46
Sorry it was not clear. I am asking if it is relevant to calculate the Min and Max of establishment.ID or if I should keep it blank.

[2017-12-14 20:37] ValentineHerr commented on #46
Do you mean the reference of number of geographic.area in the paper when you say "delete reference to the old number of plots." ?

[2017-12-14 20:40] teixeirak commented on #46
Yes, please do include those. They are relatively meaningless, but should be included as part of the metadata standards.

On Dec 14, 2017, at 3:38 PM, ValentineHerr <notifications@github.com<mailto:notifications@github.com>> wrote:

Do you mean the reference of number of geographic.area in the paper when you say "delete reference to the old number of plots." ?

—
You are receiving this because you

[2017-12-14 20:44] ValentineHerr opened #47 "SITES metadata missing loaded_from and loaded_by field description"
@teixeirak,

there is no description of field _loaded_from_ and _loaded_by_ in SITES table

[2017-12-14 21:12] ValentineHerr opened #48 "Variables with no range because no data"
@teixeirak would you like to fill in the range for the variables that are not used in MEASUREMENTS but that might be added in the future ? This would be so that they are not flagged  when someone enters new records.

If you wan to do that you can do it here and I can add it myself in the VARIABLES file

Here is the list of variables I am talking about:

- NPP_4
- NPP_5
- NPP_understory
- NPP_woody

[2017-12-15 04:56] teixeirak commented on #48
Please leave these as NA. It will be okay for them to be flagged. Flagging is just a warning that the values fall outside the current scope of the database, not an indication that they are necessarily wrong.

trees(0)_or_stems(1) is not a primary variable, it is a covariate. I noticed that its min and max were listed as NA in the variables table, and I think that's because you had it mis-classifie

[2017-12-15 05:01] teixeirak opened #49 "Update metadata and statistics in paper following some cleanup of MEASUREMENTS"
@ValentineHerr, I just reviewed the ranges of variables and had to make some updates to measurements that will affect our statistics. Here's the commit: https://github.com/forc-db/ForC/commit/1f5e1bd20c2ab8233cbc10b39a3a2c6ce245a3b3. Specifically, we will need to update measurements metadata, numbers of records in the variables table (min and max should be okay), and some of the statistics in the

[2017-12-15 05:22] teixeirak commented on #47
Fixed, although I may delete the last 3 fields in sites for the submitted version (these are more for internal use).

[2017-12-15 05:22] #47 closed

[2017-12-15 14:44] ValentineHerr commented on #49
Can you double check you got all the records for u* friction velocity ?
I get 291 records (you entered 289) with min=0 and max=156 (your max was 0.5)

[2017-12-15 14:48] ValentineHerr commented on #49
Also, did you mean to enter "high values verified in original publciation by database PI" in MEASUREMENTS _methodID_ ?

[2017-12-15 14:51] teixeirak commented on #49
regarding #1, u* should be <1. I deleted (or should have deleted) ~4 records with values above that.

[2017-12-15 14:51] teixeirak commented on #49
regarding 2, that comment should be in the notes field. thanks for catching it!

[2017-12-15 14:57] ValentineHerr commented on #49
Reagrding 1, u* measurementID 13532 (in  skukuza) is 156, I'll change that to NA.

regarding 2, I'll move comment to _source_notes_ and retrieve the original _methodID_

[2017-12-15 14:59] teixeirak commented on #49
Thanks.

Actually, the bad u* value should be replaced with NAC.

On Dec 15, 2017, at 9:58 AM, ValentineHerr <notifications@github.com<mailto:notifications@github.com>> wrote:

Reagrding 1, u* measurementID 13532 (in skukuza) is 156, I'll change that to NA.

regarding 2, I'll move comment to source_notes and retrieve the original methodID

—
You are receiving this because you authored the thread.

[2017-12-15 15:02] ValentineHerr commented on #49
So I'll leave u* and put NAC in cov1_value.
(I thought I would also delete u* in covariate_1 since there is no info about it anymore)

[2017-12-15 15:15] ValentineHerr commented on #49
And method_ID seemed to be NAC for those measurements that had the notes in that field.

[2017-12-15 15:26] #49 closed

[2017-12-15 15:26] #48 closed

[2017-12-15 17:17] ValentineHerr opened #50 "Categorical variable check"
@teixeirak ,

I am finally getting to that part of the check list but it is bigger than what I thought.. Not sure I can get it down by the end of the day...

I think the first step would be to fill in _Variable.codes_ in the metadata tables with the list of all levels of categories used in the tables. Then I can pull that and make sure that the category levels in the (future) tables already exist.

[2017-12-15 17:25] ValentineHerr opened #51 "standardize and polish column names"
Standardize and polish column names across tables, metadata, scripts and paper.

I believe it can really improve the opinion of future users of the database who could otherwise think that the lack of attention to details in the database is a bad sign about its quality.

Maybe this can be done after submission of paper but before it gets published?

[2017-12-15 17:42] bpbond commented on #51
Agreed. A consistent and clear naming scheme is hugely beneficial to users, and absolutely influences their impression of the data themselves, I think.

[2017-12-15 18:53] ValentineHerr opened #52 "Database cleanup"
- [x] Standardize variable names

- [x] Standardize field names (see #51 )

- [x] Break out references list

- [ ] Link sites and plots by unique ID numbers rather than full name

- [x] headers in metadata need some work (not column names of tables, just headers of metadata)

[2017-12-15 19:59] ValentineHerr commented on #51
List of fields to be changed and new names to be used is [here](ForC/metadata/archive/field_names_polishing.txt)

One field name at a time, change in
1. - [ ] all tables

1. - [ ] all metadata tables

1. - [ ] all scripts

1. - [ ] Entity Relashionship Diagram

1. - [ ] in paper (including updated Entity Relashionship Diagram)

[2017-12-21 19:28] ValentineHerr commented on #51
I think I went through all the files and standardized the column names. metadata headers might need some work but I am putting that in issue #52

[2017-12-21 19:28] #51 closed

[2018-01-04 17:59] #17 closed

[2018-01-04 17:59] #34 closed

[2018-01-04 18:01] #46 closed

[2018-01-04 18:02] #20 closed

[2018-01-10 11:26] teixeirak opened #53 "Variable cleanup"
@ValentineHerr, I modified variable names and ordering according to some conventions that developed (see docs [here](https://github.com/forc-db/ForC_private/tree/master/variable%20name%20cleanup)). I'd like your help updating the master branch with these names.

- [x] First, please review the [variable name conventions](https://github.com/forc-db/ForC_private/blob/master/variable%20name%20cleanup/

[2018-01-10 11:27] teixeirak commented on #52
I created a separate issue (#53) for "standardize variable names".

[2018-01-10 13:45] bpbond commented on #53
Out of curiosity, why does the end of the list (104-117) shift to using a dot convention (`N.mineralization`) instead of underscore (`soil_C`)?

[2018-01-10 14:07] teixeirak commented on #53
I'm going with the convention of separating words with dots and modifiers with underscores. In that context, does it make sense to you?

[2018-01-10 14:09] bpbond commented on #53
Ah. Sure. Almost _any_ convention is OK, as long as it's consistent, I think. Thanks for clarifying!

[2018-01-10 14:35] ValentineHerr commented on #53
List and order of steps to do for this issue (for myself):

- [ ] Copy ForC_variables_revamp in ForC (from ForC_private)
- [ ] Delete ForC_variables from ForC
- [ ] Rename ForC_variables_revamp as ForC_variables
- [ ] Copy variables.name_OLD and variable.name columns in a separate txt file and save as ForC/metadata/archive/variable_names_polishing.txt
- [ ] Delete variables.name_OLD column in ForC

[2018-01-10 16:46] ValentineHerr commented on #53
@teixeirak , il line 53 of [this file](https://github.com/forc-db/ForC_private/blob/master/variable%20name%20cleanup/ForC_variables_revamp.csv#L53) correct ?

It says old name is "BNPP_coarse _root" and new name is "BNPP_root_fine_C"

[2018-01-10 16:47] teixeirak commented on #53
Ack! Thanks for catching that mistake.

[2018-01-10 19:17] ValentineHerr commented on #53
Also, Is folieage_pN supposed to be foliage_pN ?

[2018-01-10 19:18] teixeirak commented on #53
Yes. Thanks for catching my typos!

[2018-01-11 15:41] #53 closed

[2018-01-12 18:41] teixeirak opened #54 "Design a system to faciliate data entry"
Data entry is more cumbersome than it needs to be, and understanding the system is a learning curve.

One idea to improve this is to create a single data entry spreadsheet and R code that can draw from that to update the database. The speadsheet could include field descriptions and instructions for data entry. It could also allow for multiple measurement records or history events to be recorded qu

[2018-01-12 19:34] dlebauer commented on #54
I think that the option to have a spreadsheet template and R function to parse it is a good one. Once the function is written some adventurous sole can implement a spreadsheet upload user interface, e.g. in R shiny. There could be some combination of fields and drop downs menus (e.g. to select a site and treatment) for information that is globally applicable.

---

_Commentary_

The BETYdb user in

[2018-02-08 14:05] teixeirak opened #55 "Review/ fix stand.age issue"
from a reviewer:  There are many oddities among the records included with this age designation, including monospecific plantations (e.g., 15 records from La Selva) and many logged S. American forests (diverse sites).

[2018-02-08 14:10] teixeirak opened #56 "Fix references"
from a reviewer:
- [x] **A previous data compilation that is listed as the source for nearly 10% of the records (Anderson et al. 2006) I could not find when I searched the Bibliography.** This could be fixed simply by inserting the reference, or, more thoroughly, by breaking out the reference list (see issue #52).

- [x] **Also, the Reference list given for “Measurements” in the Bibliography is in

[2018-02-08 16:46] teixeirak commented on #55
We replaced the ‘999’ code with a no data code (“NAC”) for the 15 records from La Selva, and we also recorded in the vegetation notes that these are monospecific plantations. Furthermore, we reviewed the site and plot names for all records with the ‘999’ code and replaced with a no data code (“NAC”) for any records that were identifiable as disturbed based on these names (which we selected to be i

[2018-02-08 16:47] teixeirak commented on #55
Addressed in this commit: https://github.com/forc-db/ForC/commit/67ba00854817be512445e981e64b838453b55b63.

[2018-02-08 16:47] #55 closed

[2018-02-09 03:58] teixeirak opened #57 "Checking records from intermediary databases against original publications."
Issue raised by a reviewer:
"The citation information given for the data records (MEASUREMENTS table) indicates that most of the data presented here were obtained by the data-set authors from secondary compilations, not from the original publication of each study.  The Disclaimers section of the Metadata (lines 383-388) indicates that the many derived (secondarily-cited) data were not checked agai

[2018-02-09 11:47] teixeirak opened #58 "Organize references"
In order to improve database structure and reconstruct the record of which values have been checked against original publications, we want to:

Record which pdfs we have (in order to know which values have been checked):
- [x] move folders containing references and intermediary data sheets to ForC_private
- [x] copy all references to the the references repository
- [x] generate list of references

[2018-02-11 12:51] teixeirak opened #59 "Distinguish between direct measurements and modeled values"
From a reviewer:
Another important need is for each datum to be accompanied by a flag that indicates whether the value is (a) based on direct forest-based observations (e.g., NEE values from eddy covariance, fine-litterfall measurements), or is instead (b) partially or totally based on modelling or other non-direct methods (as is the case for a large number of the records here, per the METHODOLOGY

[2018-02-11 12:53] #59 closed

[2018-02-11 13:40] teixeirak opened #60 "Regarding problematic GPP estimates"
Reviewer comment:
annual GPP – many included records are for GPP (total forest photosynthesis), but this flux cannot be directly measured in the field (see Wehr et al. 2016 Nature; Clark et al.  2017 Biogeosciences).   Estimating this flux is problematic.  It is approached either by model simulations, by summing a subset of the field biometric components, or by complex inferences made from eddy-co

[2018-02-11 13:40] #60 closed

[2018-02-11 13:48] teixeirak opened #61 "Re-run database consistency checks, metadata tables, figures, and stats in text"
@ValentineHerr,

Quite a few records have been removed from the database (issue #59). We'll need to re-run:
- [x] the database checks (some plots and sites may go)
- [x] the numbers in the metadata tables
- [x] figures
- [x] statistics for the text.

Could you please work through as much of this as possible before your time off, in that order?

[2018-02-12 15:24] ValentineHerr commented on #61
I noticed that "variables.name" is spelled inconsistently between tables: spelled without an s in VARIABLES table and metadata (as well as variable.type.. etc)

The metadata column names have been changed because R automatically replace spaces by period.

I don't have time to finish editing the numbers in the text. I wrote a comment where I stopped. I hope the rest can be done without me. Let me k

[2018-02-13 10:02] teixeirak commented on #61
I have fixed the variable.name problem.

[2018-02-13 10:12] teixeirak opened #62 "Reviewer comment on biomass variables"
From a reviewer:
Biomass terms are used to label perhaps a majority of the records, but the labels used are highly ambiguous and need clarification.  A significant fraction of the data records are labelled as “Biomass_ag” – what was measured?. just woody stems? also understory?. grasses/mosses?.   “Biomass_total” – this is used for many records, but I doubt all components of aboveground and belowg

[2018-02-13 10:24] teixeirak commented on #62
Response:

The database characterizes the most important methodological variables influencing biomass:
- minimum DBH- the *min.dbh* covariate is used to record the minimum dbh censused for biomass estimates. It is a required covariate for all biomass variables (and many others). When all plants that reach breast height are censused, *min.dbh* =0. The database does not record have a formal structur

[2018-02-13 10:24] #62 closed

[2018-02-14 16:09] teixeirak commented on #56
Anderson reference added to Mendeley.

[2018-02-16 19:22] teixeirak commented on #56
Response to review:

We have fixed these errors. More importantly, we fixed the underlying problem that allowed this error to occur. The database previously had multiple fields that cited references, but complete information for these was given only for the main references in the measurements table. To address this, we created a separate measurements table and linked all fields with citations to t

[2018-02-16 19:22] #56 closed

[2018-02-16 19:27] teixeirak commented on #57
revised response following checking pdf records:
**We recognize the highest data quality standards require double checking reported values against original publications. We previously did not have a field for recording when values had been checked against original publications. We have added the field checked.ori.pub to the Measurements table and populated it based on available information (notes

[2018-02-21 18:45] #61 closed

[2018-02-21 18:46] #58 closed

[2018-03-02 12:38] teixeirak opened #63 "ensure that ORNL DAAC forest NPP data is in ForC"
The [ORNL DAAC](https://daac.ornl.gov/cgi-bin/dataset_lister.pl?p=13) has NPP estimates for boreal, temperate, and tropical forests.

At least some of these are already in ForC, and the files for tropical forests are [here](https://github.com/forc-db/ForC_private/tree/master/intermediate%20data%20sheets/intermediary%20databases%20%26%20reference%20lists/ORNL%20Trop%20NPP) in our private repo.  Acc

[2018-03-02 12:55] teixeirak opened #64 "ensure that tropical ANPP data from Taylor et al. 2017 is included"
[Taylor et al. 2017](http://onlinelibrary.wiley.com/doi/10.1111/ele.12765/full) compiled tropical ANPP estimates, and data are published [here](https://data.nceas.ucsb.edu/#view/doi:10.5063/F19021QT). This effort was independent of ours. There's probably a fair amount of overlap, but it looks like they have some records we don't.

[2018-03-02 15:54] teixeirak opened #65 "write script to create analysis-ready table ("ForC-simplified")"
As a first step for most data analyses and to facilitate use of the database, I'd like to create a script that does some preliminary data manipulation and outputs a single spreadsheet containing the fields that will most commonly be used in analysis.

Script should do the following:
- [ ] convert all measurements to units of C (use IPCC default C=0.47*biomass).
- [ ] resolve duplicate records (fol

[2018-03-02 16:00] teixeirak opened #66 "Consider linking plots using unique IDs rather than site and plot names"
Advantages:
- cleaner database structure
- facilitates adjustments to site or plot names

Disadvantages:
- change to already published structure
- requirement to adjust existing code
- site and plot names contain valuable information when viewing individual data tables

[2018-03-02 16:00] teixeirak commented on #52
last item added as new issue: #66

[2018-03-02 16:00] #52 closed

[2018-03-09 19:30] teixeirak opened #67 "calculate additional values based on interrelationships among variables"
We can increase the numbers of records for many variables by calculating values based on interrelationships among variables (as defined in *equations* field of VARIABLES table). If we can easily produce code to automate this for any set of variables based on equations, that would be ideal. I

The code would need to match up plots and measurement dates, then check the list of variables for the pote

[2018-03-13 15:08] teixeirak opened #68 "Define rules for selecting among duplicate records"
@teixeirak needs to define the best default procedure for selecting among duplicate records.

This is necessary to complete issue #65.

[2018-03-13 15:10] teixeirak opened #69 "Define fields to be contained in analysis-friendly table"
@teixeirak needs to define the fields to be included in this table.

This is necessary to complete issue #65.

[2018-03-15 01:11] teixeirak commented on #68
Here are the rules I'd like to apply:
For each variable, reconcile duplicate records (indicated in dup.code and dup.num fields of MEASUREMENTS table).
- Replicate measurements (‘R’ code) should be averaged.
- For duplicate records reported by different studies (D, DC, or P codes), priority should be given to the most recently published estimate (i.e., highest number in dup.num field).
- For duplic

[2018-03-15 01:14] teixeirak opened #70 "review methodology replicates, adjust dup.num"
We need to review methodlogy (M) duplicates and adjust the dup.code as necessary to ensure that the higher number is assigned to the record employing a more comprehensive approach (e.g., inclusion of understory, lianas, or bamboo as opposed to just trees) or using a more rigorous or standard methodology.

Then record this in metadata.

[2018-03-15 10:28] teixeirak opened #71 "bug in Matlab code generating PLOTS"
[This script](https://github.com/forc-db/ForC/blob/master/scripts/Database_manipulation/Generate%20PLOTS%20from%20HISTORY/ForC_plots_from_history.m) put a landslide with 100% mortality as a non stand-clearing disturbance for site=Oyacachi Alnus Forest. Figure out why and fix.

[2018-03-15 10:35] teixeirak opened #72 "generate management records based on site/ plot names"
There are some sites whose site or plot name contains the terms “plantation”, “managed” (or its abbreviation “M”), “irrigated” (or its abbreviation “I”), or “fertilized” (or its abbreviation “F”) that do not have corresponding records in HISTORY and PLOTS. While obtaining full information will require going back to original publications, I think we could automatically generate incomplete records u

[2018-03-16 13:43] ValentineHerr commented on #68
@teixeirak ,
I am working with dup.code "R", what should I do with stats associated to records ?
For example, at  _sites.sitename_ POP-EUROFACE, _plot.name_ ambient POP-EUROFACE euramericana, _variable.name_ biomass_root_OM, one record has NI for _stat.name_ and _stat_, while the second has values (SE and 0.32, respectively).

[2018-03-16 13:45] ValentineHerr commented on #68
@teixeirak ,
Same question with _n_... should I do a weighted average ?

[2018-03-16 13:50] ValentineHerr commented on #68
@teixeirak ,
Some records with code "R" are measurements made at different depth... are they really duplicates ?
See, for example, _sites.sitename_ Saldarriaga chronosequence II, _plot.name_ Saldarriaga chronosequence II, _stand.age_ 11, _variable.name_ biomass_root_OM.

[2018-03-16 14:42] teixeirak commented on #68
I think we may have some confusion... I'm not talking about merging records, just selecting the preferred one.

[2018-03-16 14:43] ValentineHerr commented on #68
I thought the "R" codes should be averaged ?

[2018-03-16 14:52] teixeirak commented on #68
Right. We won't actually modify the measurements table, just draw relevant info from it. In general, we don't need to bother with reconciling all the fields; let's fill it in with an "NA.R" code.  I'll give specific answers on all of your questions below.

[2018-03-16 15:07] teixeirak commented on #68
stats associated to records ?
For example, see measurement.ID 11191 and 11192. One record has NI for stat.name and stat, while the second has values (SE and 0.32, respectively).

*use NA.R*

covaritates ?
For example, see measurement.ID 11630 and 11631. One record has NAC for covaraite_1 and coV_1.value, while the second has values ( min.diameter_root and 5, respectively).

*In this specific insta

[2018-03-16 16:04] ValentineHerr opened #73 "Check some records"
As I am working on some of the issues I find problems in the data that need @teixeirak's attention. I'll post them here as I find them.

[2018-03-16 16:05] ValentineHerr commented on #73
- [ ] _measurement.ID_ **from** 4078 **to** 4087: double check notes and min.dbh as they don't seem to match. Once that is solved, fix dup.code accordingly.

[2018-03-16 16:05] teixeirak commented on #71
Fixed. The problem was in HISTORY, not he code.

[2018-03-16 16:05] #71 closed

[2018-03-16 16:53] ValentineHerr commented on #73
- [ ] _measurement.ID_ 7988 and 7990: double check _stand.age_ and/or _date_ because _stand.age_ is the same while the measurements were made 3 years apart.

[2018-03-16 17:24] ValentineHerr commented on #73
- [ ] should we replace NA by NAC in _date_, _start.date_ and _end.date_ ? (and maybe other fields but for now these are the ones that would help me with some of the coding, but not a big deal, I have a way around)

[2018-03-16 17:35] teixeirak commented on #73
Regarding missing values codes in dates... NAC and NA have different meanings. date should generally be "NA" for fluxes (with start & end date) and start.date and end.date should be NA for stocks, although a quick review shows that that's not universally the case.  NAC should be applied when dates were not acquired. I replaced some NACs by NA, but a quick review didn't show any NAs that should be

[2018-03-16 17:43] ValentineHerr commented on #73
- [ ] _measurement.ID_ 7111 and 7116: Do you know why everything is the same (including _method.ID_) but _mean_ are different ? one of them is quite low compared to the others,  and _source.notes_ is missing for it.

[2018-03-16 17:44] ValentineHerr commented on #73
- [ ] _measurement.ID_ 1684 and 1685: Do you agree that they should not be duplicates ?

[2018-03-16 18:07] teixeirak commented on #73
measurement.ID 7111 and 7116- these appear to be true replicates.

[2018-03-16 18:12] ValentineHerr commented on #73
- [ ] _measurement.ID_ 3274 and 3279: Do you agree that they should not be duplicates ? actually different plot.name, right ?
-[ ] _measurement.ID_ 3275 and 3280: same
-[ ] _measurement.ID_ 3276 and 3281: same
-[ ] _measurement.ID_ 3277 and 3282: same
-[ ] _measurement.ID_ 3278 and 3283: same

[2018-03-16 18:16] ValentineHerr commented on #73
- [ ] _measurement.ID_ 7988 and 7990: check _date_ (_stand.age_ is same but _date_ is different)

[2018-03-19 16:49] #70 closed

[2018-03-19 17:45] ValentineHerr commented on #73
- [ ] is _measurement.ID_ 3627 really a duplicate ? Right now it is pooled with 3581 and 3597 but dates are differents
- [ ]  is _measurement.ID_ 3629 really a duplicate ? Right now it is pooled with 3585 and 3599 but dates are differents

[2018-03-19 17:47] ValentineHerr commented on #73
- [ ] _measurement.ID_ from 3622 to 3630: check _date_ and _stand.age_ (_stand.age_ changes while _date_ doesn't)

[2018-03-19 17:57] ValentineHerr commented on #73
- [ ] is _measurement.ID_ 8164 really a duplicate ? Right now it is pooled with 8136 and 8149 but dates are different
- [ ] is _measurement.ID_ 8162 really a duplicate ? Right now it is pooled with 8126, 8147 and 8150 but dates are different
- [ ] is _measurement.ID_ 8163 really a duplicate ? Right now it is pooled with 8131 and 8148 but dates are different

[2018-03-19 18:25] ValentineHerr commented on #73
@teixeirak I am finding too many issues (140) to keep reporting them like that.
Not sure what is the best way to tackle that.
Below is a list of the 140 instances to look for. They can be anything from _date_ and _stand.age_ discrepancies, to missing "DC" in _dup.code_ for either the _OM or the _C record of the same variable.

The list is made of concatenated   _sites.sitename_, _plot.name_ ,  _va

[2018-03-20 02:11] teixeirak commented on #73
1. It is likely that these are cases where fluxes have been calculated over different time periods and therefore are not true duplicates (more like semi-duplicates). For example, record 1347 partially duplicates both 1329 and 1330. We'll generally want to drop these instances where a single record partially duplicates others that are part of a longer sequence (e.g., records 1329-1331) rather than

[2018-03-20 14:30] teixeirak commented on #73
2. I don't understand what you mean about a problem with format.  Are you referring to the fact that some records are more precise (include fractional year)? Or perhaps that some fluxes are given a single date rather than start & end date? Please clarify.

[2018-03-20 15:34] teixeirak commented on #73
3. These records should all be resolved.

[2018-03-20 15:59] teixeirak commented on #73
4. This is resolved.

[2018-03-21 14:16] ValentineHerr commented on #73
2. Yes I am referring to the fact that some dates are more precise (including fractional year).
Is it ok if I just ignore the fraction and take only the integer part of the year to group the duplicates together ?

[2018-03-21 15:21] teixeirak commented on #73
Yes, please do that. Note that eddy flux records indicating just a year will typically be Jan1-Dec31 of that year, and dates should typically be more precise than indicated by the date.loc code.

For assigning priority to such records, we'll generally want to drop instances where measurement records partially duplicates others that are part of a longer sequence rather than breaking up the sequence

[2018-03-22 03:18] teixeirak commented on #73
5. I don't think  Brasschaat.Managed.NEE.1997.92.NA is a duplicate.

[2018-03-22 03:25] teixeirak commented on #73
An update on dup.nums, now in metadata: "A dup.num=0 indicates that no rank was assigned because duplicates were average across multiple years or that records lack the information required to assign a rank."

[2018-03-22 03:56] teixeirak opened #74 "Review/fix assignment of dup.nums"
This is related it issues #68, #73
Two issues:
- [ ] Reviewing records for Soroe, it appears that newer studies were not always assigned higher priority. Fixing this needs to be automated.
- [ ] Yu_2014_hcdu averaged flux records across years. These duplicate other records, but these should be ignored when annual estimates are available for each year.

@ValentineHerr, can we write a script to fix

[2018-03-22 15:59] ValentineHerr commented on #74
It is unclear to me why Yu_2014_hcdu, sometimes gets a "D" in _dup.code_ and sometimes not.
For example: _measurement.ID_ 8166 at Le Bray: NEE_C in 2003 is "D" but  _measurement.ID_ 8172 in 1997-2007 does not have a "D". There is no other record in 2003 that could explain why 8166 gets a "D".
I am guessing that part of the answer is because record 8172 includes 2007, a year with no other record. B

[2018-03-22 16:07] teixeirak opened #75 "check DeAngelis_1981_pofe records"
Checking Solling project B3 against the original publication, I found some errors. Checking another site (Mt. Disappointment, Australia) against the original pub, records were correct. I have to move on to something else before finishing the checks, so this issue is a reminder.

[2018-03-22 16:08] teixeirak commented on #73
I believe I have dealt with everything here.

[2018-03-23 01:41] teixeirak opened #76 "Revamp treatment of conflicted records"
I have just pushed changes with some new fields in MEASUREMENTS intended to deal with conflicted records. We need to fill these fields and figure out whether they work well. Here are the steps:
1. - [ ] @ValentineHerr, please generate script to fill these fields as described in the Metadata. Check with me if you have questions or if this new system is not working nicely. Please generate a list of

[2018-03-23 01:41] teixeirak commented on #74
This issue is replaced by issue #76.

[2018-03-23 01:41] #74 closed

[2018-03-23 16:33] teixeirak commented on #75
Problem was in site name: listed as B3 instead of B1. Records were otherwise correct. Problem is fixed.

[2018-03-23 16:33] #75 closed

[2018-03-23 17:36] teixeirak opened #77 "add DeAngelis 1981 data"
DeAngelis 1981 has a lot of data that have not yet been included in ForC, including productivity data.

Some of it is available in digital format, [here](https://github.com/forc-db/ForC_private/tree/master/intermediate%20data%20sheets/intermediary%20databases%20%26%20reference%20lists/DeAngelis%20NPP_IBP_198). At least a lot of this was included in Luyssaert and is therefore in ForC; however, Luys

[2018-03-23 18:40] ValentineHerr commented on #73
Re-opening this issue for random questions and issues related to some records

[2018-03-23 18:43] ValentineHerr commented on #73
- [ ] there are 7 records with either start.date OR end.date. Is that ok?
fortunately none of them are duplicated (at least they don't seem to be) but I just want to make sure it is not an error in the data.

[2018-03-23 18:44] teixeirak commented on #73
Are these stocks or fluxes? Can you give me the IDs so I can check?

[2018-03-23 18:45] ValentineHerr commented on #73
1682  1683  1684  1685 15303 15304 15305

[2018-03-23 18:51] teixeirak commented on #73
Okay, the first four are records where date was only expressed relative to a hurricane, which I looked up and used to constrain dates. The last 3 had a note in the comments, and I just edited the file to reflect that.

[2018-03-23 18:56] ValentineHerr commented on #73
- [ ] There are 65 records with both date and start.date. All But 1 record (ID 16977) has the end.date  within a year.
I'll always look at date as a priority over range of date if that is ok.

BUT what should I do for that one record (16977) ?

[2018-03-23 19:00] ValentineHerr commented on #73
I don't see the changes for those records pre and post huricane.

[2018-03-23 19:19] teixeirak commented on #73
I just fixed the date on 16977.
I didn't change the hurricane records.

[2018-03-23 19:53] ValentineHerr commented on #76
@teixeirak,

In the made up case below, How would we fill in the conflict.type ?

ID | variable.names | notes | method.ID | citation.ID | conflicts | R.group | S.group | D.group | D.precedence | conflict.type
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
1 | A_C | W | 1 | A | D, R | 1 |   | 1 |   |  
2 | A_C | W | 1 | B | D |   |   | 1 |   |
3 | A_C | W | 1 | A | D, R | 1 |   | 1 |   |  
4

[2018-03-24 01:02] teixeirak commented on #76
I think they should all get "M,C". Does that make sense to you?

[2018-03-26 13:35] ValentineHerr commented on #76
ok

[2018-03-26 14:28] teixeirak commented on #76
Treat it as conflicting with all other measurements of that variable in that plot (S code).

[2018-03-26 15:14] ValentineHerr commented on #73
- [ ] measurements ID 224, 225 and 226 have same _stand.age_ but different _date_ (including one missing)

[2018-03-26 16:46] teixeirak commented on #73
This is fixed, but in the process I accidentally created a conflicted copy. Could you please resolve that with your version. The difference is in Ma_2012 records-- stand.age & date.

[2018-03-26 20:08] teixeirak commented on #76
Please treat these as duplicates. Note that your code is not listing instances where the date falls outside of the start.date-end.date range (17245 & 17269). However, that instance should be treated as a duplicate.

[2018-03-26 20:16] ValentineHerr commented on #76
If the date is totally separate from the range of date it should be considered as duplicate ?

You are talking about S.group when you say duplicates in these cases right ?

[2018-03-26 20:28] teixeirak commented on #76
If the date is totally separate from the range of date it should be considered as duplicate ?
**In general, no. But in this particular case, it should be treated as a duplicate.**

You are talking about S.group when you say duplicates in these cases, right ?

**Actually, no, these cases are all duplicates because there's a 1-to-1 conflict. If there was a 1-to-many conflict, that would be S. Does t

[2018-03-26 20:29] teixeirak commented on #76
Does that mean that I should not be looking at stand age at all ?
**I'm not sure what you mean by this. Does it still apply given the answers above?**

[2018-03-27 14:43] ValentineHerr commented on #76
Why are 17245 & 17269 a special case ?

I was thinking that the fact that 2 records would have different stand.age would be a reason to keep them as independent. I can understand that when there is a range of date that overlaps another record, we don't care about stand.age. But, for example, in a set of records with no dates at all but a stand.age different for each record. Should I still consider

[2018-03-27 15:17] ValentineHerr commented on #73
Problem of _stad.age_ and _date_ discrepancy

- [ ] 5296 and 5297
- [ ] 5292, 5293
- [ ] 5288, 5289
- [ ] 5290, 5291
- [ ] 5294, 5295
- [ ] 5298, 5299
- [ ] 3510, 3511, 3512

[2018-03-27 15:34] teixeirak commented on #76
Yes, please do consider stand.age.

In this case, the records come from two different studies that must apply different methods, as the difference in biomass is much larger than I'd expect over a small difference in time (2 years, if I remember correctly). Thus, the difference in methods outweighs the difference in years and makes them effective duplicates. I wouldn't want that to get counted as t

[2018-03-27 16:07] ValentineHerr commented on #76
For those 1-to-1 conflict duplicates, should I give a "T" code ?

[2018-03-28 18:49] teixeirak commented on #76
I think we've resolved this, correct? 1-to-1.date is D, 1-to-many.dates is S, and 1-to-NA is S (where NA gets capital S).

[2018-03-28 19:21] ValentineHerr commented on #76
yes

[2018-03-28 19:45] ValentineHerr commented on #73
end date comes before start date for these records:

- [ ] 4002
- [ ] 4005
- [ ] 4011

[2018-03-29 12:46] teixeirak opened #78 "Integrate relevant SRDB data"
The following steps are required to integrate SRDB data into ForC:
- [ ]  write a script to rearrange SRDB data into the ForC format
- [ ]  write a script to categorize SRDB records into the following categories:
(1) records from unique sites (identified based on unique lat/long) that can be automatically added,
(2) records that are definitely duplicates (based on citation and value) and can be ex

[2018-03-29 12:53] teixeirak opened #79 "Add ∆C_agb data"
Unfortunately, we started recording ∆C_agb late in the process of assembling ForC, so we have very few records. Our original philosophy was that this could be easily calculated based on biomass measurements at two points in time, but in reality this variable is often reported on its own.

The following is the start of a list of sources that could be relatively easy sources that could be added:
- [

[2018-03-29 18:40] ValentineHerr commented on #76
For the example, If I follow the decision we made yesterday they would be independent because the start.date are different. Is that what we want ?

ID | measurement.ID | start.date | end.date
-- | -- | -- | --
1|3469|2002|2005
2|3493|2004|2006

[2018-03-30 02:35] teixeirak commented on #76
If there is any overlap in the measurement period (as in the above example), it must be counted as a duplicate (with T as a conflict type).

[2018-03-30 03:37] teixeirak commented on #76
I think that the only (or best) way to deal with this will be to allow multiple duplicate groups.

In a case like this: ...
A  | 2001 - 2002
B  | 2001.5-2002.5
C | 2002-2003
...A and B are duplicates (D.group 1) and B and C are duplicates (D.group 2). B gets D.group=1,2.

~~
To clarify the questions above, by "date record", I assume you mean a date in the *date* field? And by "range records" you m

[2018-03-30 12:29] ValentineHerr commented on #76
Ok,
I'll try to code that.

[2018-03-30 13:03] ValentineHerr commented on #76
shouldn't A, C and D be in the same D.group (in the second example above) ?

[2018-03-30 13:04] teixeirak commented on #76
Yes, corrected.

[2018-03-30 20:18] teixeirak commented on #69
Fields are defined in [this metadata table](https://github.com/forc-db/ForC/tree/master/ForC_simplified). These should be expected to change.

[2018-03-30 20:18] #69 closed

[2018-03-30 20:25] teixeirak commented on #65
I have created a folder for and described this spreadsheet [here](https://github.com/forc-db/ForC/blob/master/ForC_simplified/README.md).

[2018-03-30 21:10] ValentineHerr commented on #76
Ok I think I've got a running script now.
I need to double check a couple things on Monday but it shouldn't take too long.
I am closing this issue.

[2018-04-02 09:56] bpbond commented on #78
A lot hinges on "into the ForC format". This means we'd like to map SRDB -> ForC variables?

[2018-04-02 10:29] teixeirak commented on #78
Yes,

1- map the SRDB -> ForC variables
2- create a script to rearrange and add to ForC
3- resolve duplicates/ conflicts
4- fill in missing info as needed

I think it would make sense to schedule a call about this before getting started.

[2018-04-02 15:07] ValentineHerr commented on #76
Hi Krista,
My code is pretty much good to go now but before I push the changes in Measurements, I wanted to double check a couple things with you:

1. The code does not handle the particular cases for BCI/conflict type P (but it does not over-right them). I don't know how to handle that (and I am not sure I really get the problem). Do you know any other site that would have that problem ? The code

[2018-04-02 15:35] teixeirak commented on #76
1. This is okay. That is currently the only duplicate of that type that I am aware of. It is possible that there are some others, but your code does not need to deal with those.

[2018-04-02 16:18] teixeirak commented on #76
2. Checked and fixed these records. The issue is removed.

[2018-04-02 16:21] teixeirak commented on #76
3. Yes, go with your code. My entries were before we worked out exactly how all of these categories were defined.

[2018-04-02 17:16] ValentineHerr commented on #76
For #2, since we know stand age, we could gate the date ?

[2018-04-02 17:43] ValentineHerr commented on #76
never mind, I updated the code to deal with that.

[2018-04-02 17:44] ValentineHerr commented on #76
Closing this issue.
I'll wrap up this and push changes in Measurements table so that you can work on the D.precedence.

[2018-04-02 17:50] teixeirak commented on #76
Regarding your earlier comment-- In theory, yes, we can know measurement year based on stand age when we have stand age and measurement years for other records. However, I looked up this particular record and couldn't trace its origin (i.e., it didn't match original pub).

[2018-04-02 17:59] ValentineHerr commented on #76
Ok... actually I think I should remove what I just did... because stand.age is not really "true" when it is for a record with start and end date...
so now, 2 looks like the table below, even though we know stand age.

ID|sites.sitename|plot.name|stand.age|variable.name|date|start.date|end.date|conflicts|S.group|conflict.type
--|--|--|--|--|--|--|--|--|--|--
1|Morgan Monroe State Forest (MMSF)|Mana

[2018-04-02 18:18] teixeirak commented on #76
Okay, good, except that I ended up deleting the second record shown there (pushed new measurements file several minutes ago). That second one doesn't match up with the original pub, which is why it's such a strange duplicate.

[2018-04-02 18:35] ValentineHerr opened #80 "Give D.precedence to duplicates records"
@teixeirak ,

I pushed the new system for ID-ing the duplicates.
Now you can give the precedence to the records in the D.group.

Please, let me know if you find any problem.

[2018-04-02 19:20] teixeirak commented on #80
Thanks, and ouch! This is way too many to go through manually. I'm going to start listing some rules to apply in order to cut this down:

- [ ] If *dup.num* differs, the one with the higher dup.num gets precedence. This follows our previous convention (see *dup.num* description in metadata). We do not need to retain rank order, simply assign precedence (1) to the highest value, no precedence (0) t

[2018-04-02 19:23] teixeirak commented on #80
- [ ] If records differ only in units (C or OM) and C = 0.45 to 0.55 * OM, give precedence to OM. The logic there is that researchers use slightly varying conversion factors, so when there's a choice its best to do the conversion ourselves.

[2018-04-02 20:20] teixeirak commented on #80
- [ ] If there are multiple records for C stock variables within a single year (e.g., POP-EUROFACE), give precedence to the latest record.

[2018-04-02 22:13] teixeirak commented on #80
- [ ] The handling of dates appears to be creating some false duplicates. For example, 3517 & 3518, 13542 & 13543.

[2018-04-03 01:00] teixeirak commented on #80
- [ ] Give precedence to multiple-year measurement periods-- If one record measurement period is >1.5 x the length of its duplicate, go with that one. (This is after resolving the issue above.)

[2018-04-03 01:02] teixeirak commented on #80
- [ ] If duplicates are from studies by the same lead author, the later study gets precedence.

[2018-04-03 08:10] teixeirak commented on #80
@ValentineHerr, please implement the above. That should leave only a small (reasonable) number of records requiring manual review.

[2018-04-03 13:54] ValentineHerr commented on #76
measurement.ID to check:

- [ ] 5205, 5206, 5209, 5207 and 5208

[2018-04-03 16:10] teixeirak commented on #76
I just fixed these records.

[2018-04-03 18:08] ValentineHerr commented on #80
@teixeirak , to clarify, when you say  "This is after resolving the issue above" or "After resolving all of the above", you mean in case the previous issues led to multiple "1" in the D.precedence OR none of the above issues applied. Right ?

[2018-04-03 18:25] ValentineHerr commented on #80
Also, just to make sure,
When you say "differ only in...", is it really exclusive ?
For example, I have 2 duplicates from 2 different study, with different units.
If I follow your "differ only in units" statement, I am not picking OM vs C but I move on to giving the later study the precedence.

[2018-04-03 19:09] teixeirak commented on #80
1st question- yes.
2nd question- Actually, let's give the OM precedence in the example above.

[2018-04-03 19:33] ValentineHerr opened #81 "edit metadata of ForC_simplified"
@teixeirak,

I was about to edit the [ForC_simplified_metadata](https://github.com/forc-db/ForC/blob/master/ForC_simplified/ForC_simplified_metadata.csv) table to specify that mean was in units of Carbon but it occurred to me that we should probably be more specific, both there and in [measurements_metadata](https://github.com/forc-db/ForC/blob/master/metadata/measurements_metadata.csv) table, and

[2018-04-04 13:35] ValentineHerr commented on #73
@teixeirak ,
in MEASUREMENTS table, the plot name for "Solling project B1" is "Forest recovery following clear-cut.**80y**" while it is "Forest recovery following clear-cut.**122y**" in the PLOTS table.
Looks like there might have been a mismatch at some point.

[2018-04-04 13:59] teixeirak commented on #73
"Forest recovery following clear-cut.122y" is the correct plot name. Please change plot name on records 13581-13586 to this.

[2018-04-04 14:08] ValentineHerr commented on #80
@teixeirak, could you review the order below?
The rule would be to keep going down the list if D.precedence is still NA or if multiple "1" were assigned.

1. Take OM over C
2. Take longer study when length_longer_record = 1.75 * length_of_its_duplicates
3. Take later study over older
4. Take biggest _depth_ (deepest record)
5. Take smallest _min.dbh_

Should remain: records that only differ in met

[2018-04-04 14:12] ValentineHerr commented on #73
ok thanks, done.

[2018-04-04 14:16] teixeirak commented on #80
1.     Take biggest depth (deepest record)
2.     Take smallest min.dbh
3.     Take longer study when length_longer_record = 1.75 * length_of_its_duplicates
4.     Take OM over C
5.     Take later study over older

I have mixed feelings about giving this automated process precedence over the rankings that were determined manually, as that ranking would often incorporate specific knowledge about th

[2018-04-04 14:40] ValentineHerr commented on #73
@teixeirak
The following recorsd in PLOTS table seem to be exact duplicates. Can I delete them? If yes, can I overwrite the _plot.ID_ of Zuogong ?

ID|plot.ID|sites.sitename|plot.name
--|--|--|--
1|2725|Zhongdian Picea| Abies|Picea| Abies
2|2726|Zhongdian Quercus|Quercus
3|2727|Zhongtie|Juniperus przewalskii
4|2728|Zhuwagen Picea| Abies|Picea| Abies
5|2729|Zhuwagen Quercus|Quercus
6|2730|Zotino|Pi

[2018-04-04 14:47] teixeirak commented on #73
That's an error originating from me (oops!). Yes, please delete the duplicate records. I'm confused about overwriting the plot.ID of Zuogong; it will still follow sequentially once duplicates are deleted.

[2018-04-04 14:51] ValentineHerr commented on #73
Indeed! I didn't even check that... ok, done!

[2018-04-04 14:59] ValentineHerr commented on #65
@teixeirak and @nancyfey123,
I uploaded the [ForC_simplified](https://github.com/forc-db/ForC/blob/master/ForC_simplified/ForC_simplified.csv) table with the [R code](https://github.com/forc-db/ForC/blob/master/scripts/Database_manipulation/Create_ForC_simplified.R) that generates it.
**IMPORTANT NOTE**: The current version does not have the duplicates issue resolved. So be prepared to re-run what

[2018-04-04 15:25] teixeirak commented on #65
Thanks!

[2018-04-04 15:30] teixeirak commented on #65
Looking wonderful, but did you forget to push the final version? I see only fields from SITES & PLOTS tables.

[2018-04-04 15:45] nancyfey123 commented on #65
I pushed the final version before I sent a pull request! Is there an additional step I may have forgotten? I have yet to change it in the other tables as you instructed last night since I’m working on the stand ages in the measurements table

[2018-04-04 15:48] teixeirak commented on #65
@nancyfey123, my message was in response to @ValentineHerr. You're fine!

[2018-04-04 17:06] teixeirak commented on #81
I've updated in [measurements_metadata](https://github.com/forc-db/ForC/blob/master/metadata/measurements_metadata.csv).

[ForC_simplified_metadata](https://github.com/forc-db/ForC/blob/master/ForC_simplified/ForC_simplified_metadata.csv) was useful for communicating what I wanted in ForC_simplified, but it will make most sense for this to be pulled directly from the master metadata each time ForC

[2018-04-04 17:14] teixeirak commented on #65
@ValentineHerr, please note two additional simplifications to include:
NEE_cum_C, GPP_cum_C, and R_eco_cum_C ignored.
Secondary variables ignored.

Also, please note metadata change in issue #81

[2018-04-05 14:11] ValentineHerr commented on #80
@teixeirak,
double checking a couple things:

1. For the C or OM unit rule, I understand:
- If C is not within 0.45 to 0.55 times OM --> give 1 to both C and OM and move down the list
- If there are several C (and several OM), give 1 to all OM, give 0 to all C that are within 0.45 to 0.55 times any OM, give 1 to all C that are not within any range of the OM and move down the list.

2. same as abov

[2018-04-05 15:00] ValentineHerr commented on #73
- [ ] The note in _measurement.ID_ 5947 says "for trees dbh >5cm" but the min.dbh is "NAC". Note that the one duplicate of that record (ID 16933) says "for all plants".

[2018-04-05 19:16] ValentineHerr commented on #73
@teixeirak ,

There is 69 records that have both _date_ and _start.date_ and _end.date_. Is it ok if I ignore _date_ in my code? Should we delete date in the master so that it is not in the way of future work ?

[2018-04-05 19:58] ValentineHerr commented on #80
@teixeirak, I just pushed the measurements with updated _D.precedence_.
There is 100 records that need to be done manually (they have NAC in _D.precedence_ column and "D.precedence given manually." in _notes_).
FYI, 252 records were given _D.Precedence_ based on dup.num. Tthis is specified in the notes too.

[2018-04-05 21:57] teixeirak commented on #80
Thank you. Could you please put the notes on this in conflict.notes instead of notes?

[2018-04-05 21:57] teixeirak commented on #73
Yes, okay to ignore. I don't see a need to delete. They should be equivalent information.

[2018-04-06 12:56] ValentineHerr commented on #80
Oh yes sorry  I forgot about that column.
Ok done.

[2018-04-06 13:54] ValentineHerr commented on #81
Ok I wrote a script that automatically creates the metadata (and recalculates the n, min and max).
I pushed all changes, let me know if you see anything that should be changed.

[2018-04-06 16:45] teixeirak commented on #81
Looks great, thanks!

[2018-04-06 16:45] #81 closed

[2018-04-06 16:49] teixeirak commented on #80
There are some records with NA in the *conflicts* field. Could you please fix?

[2018-04-06 17:15] ValentineHerr commented on #80
Done.
Sorry for that. I didn't see some records made it through the mesh!
I double checked and they should all be Independent.

[2018-04-06 17:57] teixeirak commented on #80
It looks like you've accidently printed out several extra columns at the end of MEASUREMENTS.

[2018-04-06 17:59] ValentineHerr commented on #80
shoot sorry for that... I fixed it

[2018-04-06 17:59] ValentineHerr commented on #80
For 1042-1045 I think they are getting S because they have no dates at all and no stand.age. So technically we don't know if they are Replicates or not.
It would take a bit more coding to handle this special case. I am happy to do it if you think it is necessary.

[2018-04-06 18:17] teixeirak commented on #80
999 means stand age is intact/ undisturbed/ old growth, not unknown. Unknown stand ages get missing values codes. So please change the code so that it will treat ‘999’ as such. Let’s say ‘999’ conflicts with stand.age>100.

[2018-04-06 18:50] ValentineHerr commented on #80
No it is okay, it should be fine. I forgot about this code. I think I was thinking of climate data where it interpreted as "missing".

Have you looked at everything ? did you edit the D.precedence ?
Let me know when I can run the code again.

[2018-04-06 19:04] teixeirak commented on #80
Please run it now. I'll edit D.precedence once those are done. I've scanned the other records and haven't noticed other problems, but it is possible I'll find more as I look them over carefully. This is tricky in that D.precedence can be edited by hand, but I don't want to just edit the other columns; those need to be fixed in the code (unless we give up on the idea of having the code get them all

[2018-04-07 12:53] teixeirak commented on #80
@ValentineHerr, I've finished assigning D.precedence. I edited some records by hand (and added conflict.notes). There were a couple instances where I changed fields other than D.precedence. I also deleted some records.

[2018-04-07 12:53] #80 closed

[2018-04-09 13:11] ValentineHerr commented on #80
Sorry I had to run an errand Friday afternoon and it took longer than expected...
I understand that I don't need to re-run anything, right ?

I am working on resolving conflicts now. I found one records (ID 15293) that has "1" for D.precedence but capital S in conflict. It was given manually. Did you mean it?

[2018-04-09 13:46] ValentineHerr commented on #80
That is a tricky one but I think there should only zeroes for the precedence in D.group 720 and the 4th record should have received a 1 for the precedence in D.group 721.
So in the end we would only keep records 4 and 5.

Do you agree ?

ID|measurement.ID|sites.sitename|plot.name|stand.age|variable.name|date|start.date|end.date|conflicts|S.group|D.group|D.precedence|conflict.type|conflicts.notes
-

[2018-04-09 14:48] ValentineHerr commented on #80
- [ ] 10546 and 10552 (in ORNL-FACE, elevated CO2) have NA for _conflicts_. I am changing that to "independent".

- [ ] 10487 (in ORNL-FACE, ambient ORNL-FACE) has "I" for _conflicts_ but belongs to a _D.group_ (387) with zero for _D.precedence_. @teixeirak, I think you manually edited this by hand. should I replace "I" by "D" in _conflicts_ ?

[2018-04-09 16:00] teixeirak commented on #80
Regarding Turbarumba, that is tricky. I agree with your assessment.

[2018-04-09 16:00] teixeirak commented on #80
Regarding ORNL-FACE, yes, please fix as you suggest.

[2018-04-09 20:03] ValentineHerr commented on #80
I fixed a few problems that I found. Not sure why my code didn't catch them but there were not many of them.

[2018-04-09 20:11] #76 closed

[2018-04-09 20:11] #68 closed

[2018-04-09 20:12] #73 closed

[2018-04-09 21:39] teixeirak commented on #65
Yes, that's correct. Thank you!

One other minor thing for now: Please rearrange column order to put the fields from measurements first (so first field is measurement.id.

[2018-04-10 12:48] ValentineHerr commented on #65
ok done!

[2018-04-10 13:08] teixeirak commented on #65
Thank you!!

[2018-04-13 15:01] teixeirak commented on #63
@nancyfey123, This would be a good task for you to work on.

First step-- download data from the [ORNL DAAC site](https://daac.ornl.gov/cgi-bin/dataset_lister.pl?p=13). You'll need to create an account, which is very easy.

Please download both data files and documentation and save them [here (in our private repository)](https://github.com/forc-db/ForC_private/tree/master/data%20to%20add/ORNL_DAAC

[2018-04-13 18:15] teixeirak commented on #77
@nancyfey123, this would be another good issue for you to work on.

The first step will be digitizing the data of interest in this  [pdf](https://github.com/forc-db/References/blob/master/DeAngelis_1981_pofe.pdf). Each site has a subset of data (above the horizontal line) that has already been digitized and is in our repository [here](https://github.com/forc-db/ForC_private/tree/master/intermediat

[2018-04-16 13:31] nancyfey123 commented on #77
Hi Krista.

I’m out of the hospital as of this weekend and will begin working in these issues.

--
Nancy Fey
Environmental Science Student
George Mason University
P (609) 670-7687
E nfey@masonlive.gmu.edu
--
________________________________
From: Kristina Anderson-Teixeira <notifications@github.com>
Sent: Friday, April 13, 2018 2:15:01 PM
To: forc-db/ForC
Cc: nfey; Mention
Subject: Re: [forc-db/Fo

[2018-04-23 14:23] teixeirak opened #84 "load shiny app code"
@isamcano, could you please load your code to [this folder](https://github.com/forc-db/ForC/tree/master/shiny/global_data_visualization)?

[2018-04-24 00:03] isamcano commented on #84
Hi @teixeirak, I think I don't have 'push access' so it does not allows me to add the files ...

[2018-04-24 00:05] teixeirak commented on #84
Can you do a pull request? If that doesn’t work, I can grant you access.

[2018-04-24 09:11] teixeirak commented on #84
That worked; thanks!

[2018-04-24 09:11] #84 closed

[2018-04-26 14:54] teixeirak commented on #78
There are two major steps:
1- map SRDB fields to ForC fields, then write script to draw SRDB data and populate ForC fields
- [ ] @teixeirak will create a document mapping SRDB fields to ForC fields.
2- resolve duplicates.

[2018-04-27 02:12] teixeirak commented on #54
@ValentineHerr is currently working on a shiny app to do this (code will be here: https://github.com/forc-db/ForC/tree/master/shiny). It seems to be fairly essential for guiding students through the process of adding data. Bulk upload would be nice as well, but we have less need for it at this point.

[2018-04-27 02:15] teixeirak opened #90 "launch shiny app for data visualization"
@ValentineHerr, please see if you can launce [@isamcano's shiny app](https://github.com/forc-db/ForC/tree/master/shiny/global_data_visualization).

Below is some information Mauro sent about hosting. Let's create an account dedicated to ForC.

HOSTING

Notice that this example-app  is hosted on  https://bookdown.org/forestgeoguest/. You could create a free account via bookdown.org -- the link to t

[2018-04-27 02:46] teixeirak commented on #77
@nancyfey123, I loaded the data you digitized [here](https://github.com/forc-db/ForC_private/tree/master/data%20to%20add/DeAngelis_1981_pofe). Next step is for me to map ForC variables to these variables.

[2018-04-27 11:35] teixeirak commented on #77
@nancyfey123, here are the first steps to processing these data. I'll add more soon.

1.	Make sure you have  the latest ForC_measurements file
2.	Highlight the top row (field names). Then on the data tab, hit filter. Go to the citation.ID field and select only DeAngelis_1981_pofe. This will show only the data from DeAngelis_1981_pofe that is already in ForC.
3.	Go through your list of sites from D

[2018-04-30 10:52] teixeirak commented on #77
4. Create a new .csv file with the same headings as ForC_measurements but no records.
5.	Moving through the sites that are already in ForC in the order that they appear, compare the list of variables already in ForC to the set available, and identify ForC variables (i.e., those we have defined in ForC VARIABLES table) that are reported but not yet in the database. Mapping of DeAngelis variables to

[2018-04-30 18:14] teixeirak commented on #78
I've loaded a recent version of SRDB to ForC_private. I've started a [document mapping SRDB fields to ForC](https://github.com/forc-db/ForC_private/blob/master/data%20to%20add/GLOBAL_SRDB_V3_1235/SRDB-ForC%20variable%20mapping.csv).

[2018-05-01 15:59] teixeirak commented on #65
@ValentineHerr, Please modiffy the code such that true (1) values in *management.other.ID* do not get counted towards true values in *managed* field of ForC-simplified.

[2018-05-03 15:02] ValentineHerr commented on #65
@teixeirak, what do you mean by "true (1) values" ?

[2018-05-03 15:05] teixeirak commented on #65
value = 1, following convention that 1=true, 0=false.

[2018-05-03 17:38] ValentineHerr commented on #65
Ok I fixed that in this comit: 6e6f337
That affected 8 records. Let me know if that doesn't sound right.

[2018-05-03 17:54] teixeirak commented on #65
Sounds right, thanks.

[2018-05-03 17:55] #65 closed

[2018-05-04 18:57] teixeirak opened #91 "incorporate data from Poorter et al. 2016"
From Poorter et al:
"Plot-level AGB data of 41 sites are available from the Dryad Digital Repository: http://dx.doi.org/10.5061/dryad.82vr4". Available from: https://www.researchgate.net/publication/292977877_Biomass_resilience_of_Neotropical_secondary_forests [accessed May 04 2018].

[2018-05-07 10:11] teixeirak commented on #65
@ValentineHerr, I added a field to MEASUREMENTS that flags suspicious records that shouldn't be used in analyses until they are checked. Could you please modify your code to exclude any records with flag.suspicious=1? There are currently only two records in this category.

[2018-05-07 12:55] ValentineHerr commented on #65
@teixeirak, at what stage should I deal with this ?
1- When creating ForC_simplified? (removing all flag.suspicious=1)
2- When doing analysis and average per Biomes ?

Note, I remove managed and disturbed sites at stage 2 (the 2 fields are created in stage 1).

[2018-05-07 13:46] ValentineHerr commented on #65
We remove suspicious records when creating ForC_simplified

[2018-05-07 14:30] teixeirak commented on #90
A few things I'd like to change:
- [ ] remove "Type of Measurement" (where selecting C is the only option)
- [ ] At the bottom, after "Exploring ForC: A global database of forest carbon stocks and fluxes [ Anderson-Teixeira et al 2018 ]", add a link back to the shiny app script/ ForC repository
- [ ] create the option to exclude some records: "Exclude the following: *managed, *disturbed since stan

[2018-05-07 20:39] ValentineHerr commented on #90
done!

[2018-05-08 09:45] teixeirak commented on #90
This is awesome!
Is there a way to put a log scale on the age bar? The range where most of the data are is so tiny on that slider.
Also, please delete the "(999)" and "(NAC, NI, NRA)" text. That was just to clarify for you.

[2018-05-08 09:50] bpbond commented on #90
That looks great–nice job @ValentineHerr . 👏

[2018-05-08 12:40] ValentineHerr commented on #90
I removed the "(999)" and "(NAC, NI, NRA)" text.

[2018-05-08 12:42] ValentineHerr commented on #90
I'll try to do the log scale of the age bar but I don't promise I can do it. Those are widgets that we don't have a lot of control on....
If I can't figure it out I'll just make a field to manually enter min and max dbh.

[2018-05-08 13:16] ValentineHerr commented on #90
As discussed in person, I made the slider go only until 400 years and added a "check box" to add stands over 400 years old

[2018-05-09 13:54] teixeirak commented on #90
@ValentineHerr, I was just playing with this, and there seems to be a bug related to the option to include stands>400 yrs, mature stands of unknown age, unknown age. Could you please look into this?

[2018-05-09 13:56] ValentineHerr commented on #90
What is the bug you are experiencing? It seems to be working for me.

[2018-05-09 15:51] teixeirak commented on #90
Looks good; thanks.

[2018-05-09 15:51] #90 closed

[2018-05-10 16:57] teixeirak commented on #64
also, this publication (probably everything in here is in Taylor):

Cleveland, C. C., A. R. Townsend, P. Taylor, S. Alvarez-Clare, M. M. Bustamante, G. Chuyong, S. Z. Dobrowski, P. Grierson, K. E. Harms, B. Z. Houlton, A. Marklein, W. Parton, S. Porder, S. C. Reed, C. A. Sierra, W. L. Silver, E. V. Tanner, and W. R. Wieder. 2011. Relationships among net primary productivity, nutrients and climate

[2018-05-10 18:36] teixeirak opened #92 "Assess data from Luo_1996_ponp"
There are 884 biomass, biomass_ag,or biomass_root values from China that come from Luo_1996_ponp, which is a dissertation in Chinese. These were reported in, and loaded to ForC, via [Liu_2014_htpa](https://github.com/forc-db/ForC_private/tree/master/intermediate%20data%20sheets/intermediary%20databases%20%26%20reference%20lists/Liu). Based on Liu_2014_htpa methods and the documents [here](https://

[2018-05-10 19:03] teixeirak opened #93 "change codes in plot names"
@ValentineHerr, some of the plots loaded from Luyssaert_2007_cbob have plot names coded as follows:
UM- unmanaged
RD- recently disturbed
Please change these codes to spell out the full words.

[2018-05-10 19:40] ValentineHerr commented on #93
done but see my comment in [this issue](https://github.com/forc-db/ERL-review/issues/12)

[2018-05-17 02:45] teixeirak commented on #78
I've finished a first pass at this SRDB-ForC mapping document. I hope it makes sense, but it may still be tricky to follow-- let me know what needs to be clarified. This includes all fields from both SRDB and ForC and can be sorted according to the field order in either one-- currently ForC. @bpbond, the "clarifications" field indicates questions for you. The "KAT action needed" field indicates is

[2018-05-17 03:03] dlebauer commented on #78
Looks like the file paths have changed and github redirections are intermittent - the new link to the mapping csv is here: https://github.com/forc-db/ForC_private/blob/master/data%20to%20add/srdb/SRDB-ForC%20variable%20mapping.csv

[2018-05-17 03:05] teixeirak commented on #78
Thanks @dlebauer!

[2018-05-17 16:09] teixeirak commented on #78
I'd like more clarification on Age_ecosystem and Age_disturbance, focusing just on records for which  Ecosystem_type = forest.

There are a some instances where there are records for both, and I'm not sure how to interpret them. Does this mean that the forest stand was established (e.g., post-agriculture) according to Age_ecosystem and later disturbed Age_disturbance = 80. Would Age_disturbance al

[2018-05-18 10:18] bpbond commented on #78
Right. Their meaning is "how long has this been a forest?" (`Age_ecosystem`) and "how long since the last disturbance?" (`Age_disturbance`).

Usually. I think always? Hard to think of a counter-example.

Yes. Mmm, that's a good check to add to the SRDB QC script.

[2018-05-18 14:19] teixeirak commented on #78
The site with is Age_disturbance>Age_ecosystem Tianmu Mountain (2 records).

[2018-05-18 14:26] bpbond commented on #78
@teixeirak Thanks! I'll go fix that.

`Stage` is very qualitative and somewhat inconsistent, but even so, there shouldn't be mature records with age < 20. Another good catch. Go with the quantitative number, I think, not the subjective (`Stage`) one, but I'll go check.

[2018-05-18 14:54] teixeirak commented on #78
I believe the mapping document is now complete and ready to implement, except:
- [ ] I need to review the manipulations and list those to exclude.  We won't include manipulation types that are specific to soil respiration studies (e.g., litter removal) or some of the more obscure ones (e.g., moose trampling!).
- [ ]  ForC HISTORY fields need work. Don't do anything with this yet.

[2018-05-23 13:53] teixeirak opened #94 "Retrieve intact/hinterland forest classifications for ForC sites"
The two following publications map intact/ hinterland forest. Please extract classification for all ForC sites.

Potapov P et al. (2017) The last frontiers of wilderness: Tracking loss of intact forest landscapes from 2000 to 2013. Science Advances 3.

Tyukavina A, Hansen MC, Potapov PV, Krylov AM, Goetz SJ (2016) Pan-tropical hinterland forests: mapping minimally disturbed forests. Global Ecol. B

[2018-06-11 15:07] teixeirak opened #95 "Bug in ForC-simplified - data for some sites not included"
@ValentineHerr, I just found some sort of bug with ForC-simplified. There's a small portion (n=164) of records where data from the sites table did not make it into ForC-simplified (all NA's).

[2018-06-11 15:37] ValentineHerr commented on #95
Indeed... There are all because of inconsistencies between _sites.sitename_ in SITES table and _sites.sitename_ in MEASUREMENT table.
I'll spend some time to fix that.

[2018-06-11 16:26] ValentineHerr commented on #95
I believe I fixed the problem (mostly hidden spaces at the end of the site names).

[2018-06-11 16:26] #95 closed

[2018-06-28 18:00] #93 closed

[2018-06-28 18:21] ValentineHerr opened #96 "Identify potential site duplicates in ForC"
@teixeirak ,
I help defining criteria that identifies duplicate sites.

Here is an example for the comparisons of 3 sites: "Dinghushan 4",  "Dinghushan 5", and "Dinghushan 6".

- SITES --> They have exact same lat and lon, but different masl. Nothing else differs other than some fields are complete for 1 or 2 sites but not the other(s).
- PLOTS --> different plot.names. Other fields can't be compa

[2018-06-28 18:53] ValentineHerr commented on #96
For information, there is 866 rows in SITES table that are duplicate locations (lat, lon). They are distributed into 349 groups of duplicate locations.

[2018-06-28 19:59] ValentineHerr commented on #96
For Information (correction) there is 792 rows of the SITES table that are involved in the 275 groups of duplicated location (lat, lon).

[2018-06-28 20:07] ValentineHerr commented on #96
For Information (correction), there is 736 sites that are in one of 219 groups of duplicate locations (lat, lon)

[2018-06-29 11:32] teixeirak commented on #96
Regarding the example above, the geographic coordinates obviously lack precision, but different elevations qualify as legitimately different sites. Generally speaking, sites are legitimately different if they differ in any of the variables in the sites tables (i.e., the physical environment: elevation, soils, etc.).  Of course, there's plenty of grey area as to whether two locations are different

[2018-06-29 11:53] teixeirak commented on #96
Let's create a field in the sites table to flag/number suspected duplicates for review. We'll also want to work out a mechanism for dealing with site duplicates in the Measurements table. If the sites are true duplicates, measurements should be treated with the same framework that we already have. I currently don't see any need to add/change anything, as these duplicates would be resolved at the s

[2018-06-29 19:32] ValentineHerr commented on #96
@teixeirak

1.  How should missing data in the SITES table be interpreted? Is it like the measurements records - they should be grouped with other sites with data because they could be the same ?
2. should I be looking at notes to detect legitimate sites ? Right now I am looking at these following columns :

- [ ] masl

- [ ] geography.notes

- [ ] mat

- [ ] min.temp

- [ ] max.temp

- [ ] map

-

[2018-07-08 09:41] teixeirak commented on #96
I think you're making this more complicated than necessary, or rather that you're trying to automate beyond what the info in database can support.

There is one important way that we can greatly simplify this process that I forgot to mention earlier: If the potentially conflicted sites are reported by the same study, they are legitimately distinct sites. My guidance on naming sites/plots was that

[2018-07-09 19:41] teixeirak opened #97 "update R code to account for minor data changes"
@ValentineHerr, please update R code as needed to account for the following changes:

- [x] In [this commit](https://github.com/forc-db/ForC/commit/8323c7b4ceaece7e3cb6e30c423af10713cb3793), I replaced "<<100%" with "minor" in the percent.mortality field. Please update any R code that used this. I believe the only one is [this](https://github.com/forc-db/ForC/blob/master/scripts/Database_manipulat

[2018-07-10 14:04] teixeirak commented on #78
I have (finally!) finished the instructions for merging SRDB into ForC. Instructions are [here](https://github.com/forc-db/ForC_private/tree/master/data%20to%20add/srdb).

[2018-07-11 10:57] teixeirak opened #98 "Incorporate Cook-Patton data"
@CookPatton, @ValentineHerr -

I'm starting preparation's to incorporate Susan Cook-Patton's database into ForC. Example data are [here](https://github.com/forc-db/ForC_private/tree/master/data%20to%20add/Cook-Patton).

The first step will be to create a detailed document mapping how Susan's data should be transferred to ForC (similar to what we did for SRDB; issue #78). I will start on this proce

[2018-07-11 14:32] teixeirak commented on #98
I have started the [variable mapping document](https://github.com/forc-db/ForC_private/blob/master/data%20to%20add/Cook-Patton/CP-ForC%20variable%20mapping.csv).
@CookPatton, I have a number of questions/clarifications for you (clarifications field). It may make sense to wait and go over this together in person.

[2018-07-13 19:39] CookPatton commented on #98
@teixeirak, @ValentineHerr

Hi Krista and Valentine,

Excuse my delay in response - my boss went on vacation and I went rogue. I wanted to confirm that he was okay with putting all data up on ForCdb before I responded. He was as enthusiastic as me, so full sails ahead and Krista thanks for all your work on this already! We almost have the fully error checked data, so I can share that soon.  In the

[2018-07-13 19:45] CookPatton commented on #98
@teixeirak - It looks like you may have already flagged the issues, but I will need some advice on how to edit the variable mapping document you provided

[2018-07-31 15:31] teixeirak opened #99 "create a ForC version for high school education"
@ValentineHerr,

Please write a script to create a super simplified version of ForC to go along with a high school lesson that Ryan (@RHelcoski) is preparing.

We want just GPP of forests >=100 years, unmanaged, undisturbed.
Please include the following fields:
measurement.ID
mat (rename "mean annual temperature")
mean (remame "GPP")

@RHelcoski, should we convert MAT to Fahrenheit?

[2018-07-31 15:34] teixeirak commented on #99
Please name the file "ForC_GPP_and_temperature.csv" (unless @RHelcoski wants something different) and put it [here](https://github.com/forc-db/ForC/tree/master/educational%20resources).

[2018-07-31 15:37] RHelcoski commented on #99
Fahrenheit would be best for the super simple version

[2018-08-02 17:25] ValentineHerr commented on #99
Ok the table should be there. @RHelcoski, let me know if it has all what you need.

[2018-08-02 17:35] teixeirak commented on #99
Thanks @ValentineHerr! @RHelcoski, I'd suggest you create a README/ metadata file to go along with it.

[2018-08-02 17:49] RHelcoski commented on #99
Will do, thank you!

This works perfectly

On Thu, Aug 2, 2018 at 1:35 PM, Kristina Anderson-Teixeira <
notifications@github.com> wrote:

--
*Ryan Helcoski*
Research Assistant: CTFS-ForestGEO Ecosystems & Climate Initiative
Smithsonian Conservation Biology Institute
Linkedin <https://www.linkedin.com/pub/ryan-helcoski/b2/539/773>

[2018-08-06 14:38] ValentineHerr commented on #97
done

[2018-08-06 14:38] #97 closed

[2018-08-17 15:32] RHelcoski commented on #99
Hey @ValentineHerr we also need a version of ForC_Simplified in the ForC [edu resources](https://github.com/forc-db/ForC/tree/master/educational%20resources) that only includes mature, undisturbed, and unmanaged forests. Pleaes title it ForC_simplified_edu

[2018-08-17 15:41] ValentineHerr commented on #99
I uploaded it [here](https://github.com/forc-db/ForC/tree/master/educational%20resources).
Let me know if that works.

[2018-08-17 15:44] RHelcoski commented on #99
that works, can you also remove the last 3 columns? (AD, AE, AF)

[2018-08-17 15:48] ValentineHerr commented on #99
done.
I'll have to do any other changes next week. I have to leave now.

[2018-08-17 15:52] RHelcoski commented on #99
got it, this is all I need for the moment, thank you

[2018-09-06 18:31] #99 closed

[2018-09-06 18:32] teixeirak commented on #91
GROA already includes the data for forests <100 years old (most of data).

[2018-09-07 19:18] ValentineHerr commented on #96
@teixeirak , should I belooking at site.ref, ref.notes and/or loaded.from?

[2018-09-07 19:28] teixeirak commented on #96
Both site.ref and loaded.from.

On Sep 7, 2018, at 3:18 PM, ValentineHerr <notifications@github.com<mailto:notifications@github.com>> wrote:

@teixeirak<https://github.com/teixeirak> , should I belooking at site.ref, ref.notes and/or loaded.from?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/forc-db/ForC/issues/96#issuecomm

[2018-09-10 13:14] ValentineHerr commented on #96
I added 2 columns in the SITES table. The first one is to ID a group of potential duplicates, the second one is to group the records within each group. Let me know if it is convenient (and if I did the grouping correctly).

[2018-09-10 13:42] teixeirak commented on #96
This is fine (in terms of adding the columns). I'll want to review / discuss how you define these groups. From a quick look, it appears that we're we're getting many more potential duplicates than necessary. Two main things to try offhand:
1- pull in references from measurements table. If two sites flagged as potential duplicates have records from the same study, they should not be flagged as dupl

[2018-09-10 13:59] ValentineHerr commented on #96
I used 5 km for the geographic buffer.
Also I had kept a group ID  for legitimate sites  (when all sites were loaded from/had the same reference  - but giving different number in the second column, mostly to help me check my code). I just pushed a version that replaces these cases by "0". Let me know if that looks better for you.

[2018-09-10 15:44] ValentineHerr opened #100 "Cleaning up _loaded.from_ in SITES and MEASURENTS"
@teixeirak ,

I was able to fill in 476 missing _loaded.from_ values in SITES table, based on MEASUREMENTS table (when _loaded.from_ was unique in MEASUREMENTS)

But,
- [ ] I noticed that a lot of the measurements loaded from "Anderson_2006_toba" are from sites that have "Bety-DB data download 4/10/2014 (Matlab output)" in SITES table.

- [ ] Other inconsistencies are:

SITES loaded.from|MEASUREME

[2018-09-10 15:50] teixeirak commented on #100
Please replace "Bety-DB data download 4/10/2014 (Matlab output)"  with "Anderson_2006_toba" in all cases. If there are any other cases where sites loaded.from is "Bety-DB data download 4/10/2014 (Matlab output)"  and the measurements table has a study referenced in loaded.from, replace these as well.

[2018-09-10 15:53] teixeirak commented on #100
Regarding the other inconsistencies, I believe that all of these will be eddy flux sites. It is not a problem if site data and measurements data were pulled from separate studies, so long as the measurements are linked to the correct site (as they all are, barring unknown errors).  Please leave the references in both tables as they are.

[2018-09-10 15:58] ValentineHerr commented on #100
ok thanks

[2018-09-10 18:15] teixeirak commented on #100
Leave as they are.

[2018-09-10 18:45] #100 closed

[2018-09-11 11:04] teixeirak commented on #96
To facilitate the review process, please add the list of all Citation.IDs of studies reporting measurements at each site in the new field that I created in SITES (measurement.ref).

[2018-09-12 09:39] teixeirak opened #101 "integrate research network site data"
SITES table now contains a field to record research networks to which sites belong. I'd like to systematically align network site data with sites in the database, standardizing site names to official names assigned by the network and filling in any missing site data available through network resources.

[2018-09-14 18:30] teixeirak opened #102 "add required.citations field to ForC-simplified"
@ValentineHerr

Required.citations field is in MEASUREMENTS.

[2018-09-14 18:33] teixeirak commented on #102
Please also add ForC.investigator.

[2018-09-20 19:53] ValentineHerr opened #103 "Fix citations"
- [ ] in CITATIONS table, Kajimoto_2009 has no DOI nor title. It looks like the author did not publish anything in 2009. Maybe there is a typo in the date? [Here is a list of papers authored by Kajimoto](http://www.ffpri.affrc.go.jp/labs/ecovege/Plaeco/takuyakajimoto_e.html)

[2018-09-21 14:02] #102 closed

[2018-09-21 14:02] ValentineHerr commented on #102
done

[2018-09-21 14:27] ValentineHerr commented on #96
I field in measurement.ref (only a few references were forgotten)

[2018-09-21 14:47] teixeirak commented on #96
Thanks!

[2018-09-21 14:58] teixeirak opened #104 "create script to change plot and site names"
@ValentineHerr, I'd like a mechanism to change site and plot names throughout the database (SITES, PLOTS, MEASUREMENTS, HISTORY) whenever we identify a desired change. I have created a [spreadsheet to log these changes](https://github.com/forc-db/ForC/blob/master/database_manipulation_records/site_and_plot_name_changes.csv). Could you please create a script that can do this. I will soon add exampl

[2018-09-21 15:10] ValentineHerr commented on #104
I have a script that does that. It requires to manually enter the "old name" and the "new name".
Actually there is 2 scripts one for [column names](https://github.com/forc-db/ForC/blob/master/scripts/z_archive/Changing_column_names_in_data_metadata_and_scripts.R) and one fro [variables names](https://github.com/forc-db/ForC/blob/master/scripts/z_archive/Changing_variable_names_in_data_metadata_and

[2018-09-21 15:56] teixeirak opened #105 "Create framework to handle spatially nested and potentially conflicted plots"
We need a structure to deal with two related issues:
1- Some sites or plots are nested within others. For example, `Wind River Canopy Crane` is within `Wind River CTFS-ForestGEO plot`.
2- In some cases, it may be time-consuming or impossible to discern whether two sites/plots are nested or duplicated.

Currently we handle potential site conflicts by treating area as a random effect in mixed effect

[2018-09-28 18:15] teixeirak opened #106 "prepare R code to create PLOTS from HISTORY, including fix of numbering problem"
@ValentineHerr, you're already working on this...

- rewrite [this script](https://github.com/forc-db/ForC/blob/master/scripts/Database_manipulation/Generate%20PLOTS%20from%20HISTORY/ForC_plots_from_history.m) in R to facilitate updates.

[2018-10-01 13:18] ValentineHerr opened #107 "tropical extratropical"
@teixeirak ,
I noticed that the third plot of site "Biology of Forest Growth experimental plantation in Pierces Creek Forest" in PLOTS is "tropical' while the 2 others are extractropical. All plots of that site are "extratropical" in HISTORY.
Any idea why ? It looks like there is 50 other sites in that case.

Also there are missing entries (79 total) for that column in HISTORY .

Wouldn't it make

[2018-10-01 14:12] ValentineHerr commented on #106
@teixeirak,
I see 6 duplicated lines in PLOTS (see lines 2725 to 2736).  I am assuming it is a mistake but I want to double check that I am not missing anything.

[2018-10-01 18:15] teixeirak commented on #107
Those were supposed to be deleted.

[2018-10-01 18:15] #107 closed

[2018-10-01 18:21] teixeirak commented on #106
Yes, that was an error. Now fixed. This is why we're writing R code to generate PLOTS!

[2018-10-01 18:48] ValentineHerr opened #108 "Fix event.sequence"
@teixeirak ,
There is 2 records that need to be fixed in HISTORY because they have duplicated _event.sequence_ (two events with number 2). Dates are missing so I am not sure which should be first.
On record in at site "Brasschaat Oak", the other one at site "Brasschaat Pine".

[2018-10-01 18:59] ValentineHerr commented on #108
Also,
Can you have a look at the records for Wythan Woods CTFS-ForestGEO Plot ? (see below)
It looks like the same plot got different _history.ID_ and only ones in _event.sequence_. Is that ok ?

history.ID | sites.sitename | plot.name | plot.area | event.sequence
-- | -- | -- | -- | --
2773.01 | Wytham Woods CTFS-ForestGEO plot | 18-ha forest dynamics plot | 18 | 1
2774.01 | Wytham Woods CTFS-For

[2018-10-01 19:18] ValentineHerr commented on #108
Another double check....
_i_ND_ is >1 for YASUNI CTFS-FORESTGEO PLOT_25-HA FOREST DYNAMICS PLOT (WESTERN HALF OF 50-HA FOREST DYNAMICS PLOT), which messes up how _distmrs.type_ is attributed because it does not take into account that scenario (_i_mrsd_ is empty)

Any recommendation on that ?

[2018-10-02 11:00] teixeirak commented on #108
Brasschat-- the cut (thinned) events get be event.sequence =3.

Wytham- numbering is incorrect. They should all be 2773.0#. Please fix.

[2018-10-02 12:58] ValentineHerr commented on #108
What order should the Wytham records be? (they all have 1 for event sequence)

[2018-10-02 13:01] teixeirak commented on #108
Same order as currently listed.

[2018-10-02 13:50] teixeirak commented on #108
For the record, this is to confirm that when there's more than one No.Disturbance event in HISTORY, the first one (lowest event.sequence) is the one used in PLOTS.

[2018-10-02 13:57] #96 closed

[2018-10-02 17:55] mcgregorian1 opened #109 "Hyperlink in metadata not working"
Under [Step 5](https://github.com/forc-db/ForC/blob/master/how_to/edit_the_data_(overview).md):
c.	Refer to **readme_ForC.pdf** for details on fields in each table.
d.	Every cell should be populated. For missing data, please use missing data codes (Additional Table 1 in **readme_ForC.pdf**) to indicate reason for missing values.

When clicking on these hyperlinks for the pdf, a 404 Error page come

[2018-10-02 18:00] #109 closed

[2018-10-02 19:28] mcgregorian1 opened #110 "Metadata for plot.name confusing"
In the [measurements metadata](https://github.com/forc-db/ForC/blob/master/metadata/measurements_metadata.csv)

**Sites.sitename** = Unique site identifier name for the site at which the measurement was made
**Plot.name** = Unique plot identifier name for the plot in which the measurement was made

In the data for measurements, the site name for Yasuni for example is "Yasuni CTFS-ForestGEO plot" a

[2018-10-02 20:22] mcgregorian1 opened #111 "Test for Data Entry Guidelines"
As part of the data entry guidelines, it is recommended that if a contribution will take more than a couple days, users should create an issue to alert database owners about the changes intended to be made.

Thus, I am entering data for Chave_2008 regarding AGB, stocks, and wood density for 10 sites. This is going to go slowly as I'm both parsing through the data and also flagging any discrepancie

[2018-10-03 11:47] teixeirak commented on #110
There are many sites (e.g., Yasuni) with just one plot associated to the site. However, there are also sites with multiple plots. The metadata is somewhat wrong in calling plot name unique, as its only necessarily unique within each site.  I’ll fix that.

Does this clarify the issue?

[2018-10-03 14:00] #110 closed

[2018-10-04 21:36] teixeirak opened #112 "Remove `tropical.extratropical` in HISTORY, PLOTS"
@ValentineHerr, I deleted this field but it looks like  it somehow snuck back in. Could you please remove?

[2018-10-09 12:44] mcgregorian1 opened #115 "Issues with MEASUREMENTS.md"
- [x] 1.	In some columns, it says codes are explained in other tables (other .csv files). This wasn’t too clear for me as a general user at the outset (because I was mainly looking at Github online as opposed to only the local files); could the associated tables be hyperlinked to the measurements metadata? The columns I’m talking about are below, and the associated Github links are with them:
- [x

[2018-10-09 12:47] mcgregorian1 opened #116 "Issues with HISTORY_metadata"
- [ ] 6.	Column 1/A (history.ID), unclear if users enter this by themselves, or is it automatically generated?
- [ ] 7.	Column 8/H and 9/I (plot history event): can we hyperlink to [histtype](https://github.com/forc-db/ForC/blob/master/data/ForC_histtype.csv)? Only relevant if viewing .md online
- [ ] 8.	Column 15/N: should read as Column 15/O. This looks like it is not relevant to general user.

[2018-10-09 12:51] mcgregorian1 opened #117 "Issues with metadata (general)"
*# 13 refers back to Step 6 of the updated [How-to guide](https://github.com/forc-db/ForC/blob/master/how_to/edit_the_data_(overview).md).*

- [x] 13.	Should we say that if you find the site already listed (when doing a background check before entering data), then you should base your entry for Measurements.csv Columns B-H on what’s already been entered (for site descriptors)?
- [x] a.	For ex, I’m

[2018-10-09 14:43] ValentineHerr opened #119 "date.loc issues"
@teixeirak , in MEASUREMENTS, there is:

 - 8 records where date is missing (NA) and date.loc is 8
 - 104 records where date is missing (NA) and date.loc is missing (NA)

 - 37 records where start.date is NI and date.loc is NI
 - 103 records where start.date is missing (NA) and start.date.loc is missing (NA)

 - 35 records where end.date is NI and date.loc is NI
 - 103 records where end.date is mi

[2018-10-09 15:06] ValentineHerr commented on #119
I changed NI to 9 and we are leaving NAs.

[2018-10-09 15:06] #119 closed

[2018-10-09 20:16] mcgregorian1 commented on #115
1. It turns out I can't add the links to the .csv file without creating a separate column. I'm not sure you want to do that?
4. Sounds good. I guess I didn't see the other variables part (I think I was looking online for that one).
5. Maybe. I think either we put that column as the divider between the two kinds of fields, or we make a specific note in the How-to about that.

[2018-10-09 20:50] teixeirak commented on #115
1. No, it’s not necessary.
3. Let’s do that. Call the field something like “populated.by”. Add to all metadata files, with options manual entry, script, external database.

[2018-10-10 12:19] mcgregorian1 commented on #115
3. Ok I can do that for the measurements_metadata and the sites_metadata.

I'm not sure which fields are populated by external database. Do you mean the fields that are linked to other .csvs? I'll fill in these two files but I'll create a pull request so you can double check that.

[2018-10-10 14:00] #112 closed

[2018-10-10 15:30] teixeirak commented on #115
Thanks! I have reviewed and updated the metadata appropriately (recent commit).

[2018-10-10 15:30] #115 closed

[2018-10-10 18:00] ValentineHerr commented on #72
@teixeirak,
I am working on this now (and might need more instructions at some point).
I had taken care of replacing abbreviations "M", "I", "F" and "IF" by corresponding management words "managed", "irrigated", "fertilized' and "irrigated/fertilized"
But looking at it now I found the following sites. Can you tell me if the "F" actually refers to fertilized here ?

- [ ] Eucalyptus saligna plantat

[2018-10-10 19:08] mcgregorian1 opened #121 "95%CI discrepancy"
In ForC_measurements.csv, the 95%CI is listed for other sites as only one value. Some sites have in the notes that this is the upper value, whereas other sites have no values.

Is there a way you want both values entered, since it is an interval?

The [metadata](https://github.com/forc-db/ForC/blob/master/metadata/measurements_metadata.csv) (Columns R/S) does not say anything about this.

[2018-10-10 20:35] mcgregorian1 commented on #111
Data entry complete

[2018-10-10 20:35] #111 closed

[2018-10-12 14:43] teixeirak commented on #77
The latest digitized data sheet from @nancyfey123 that I have is [here](https://github.com/forc-db/ForC_private/tree/master/data%20to%20add/DeAngelis_1981_pofe). @nancyfey123, if you have a later version, please upload. Otherwise, we will treat this as the latest version.

[2018-10-12 18:08] teixeirak commented on #121
Frankly, this is a database design flaw. I changed the metadata to go with the convention that we report based on the upper 95%CI.

[2018-10-12 18:08] #121 closed

[2018-10-12 18:12] teixeirak commented on #72
- Eucalyptus saligna plantation 2 yr F, 1m * 1m" (and similar sites - I think it does mean Fertilized...) - *Yes, that means fertilized.*
- FT11 Gumkhal Dry sub-deciduous Shorea robusta Gaertn. F. (Sal) (and similar sites - no evidence that FT means fertilized.) - *Part of species name, not fertilized).

[2018-10-12 18:12] teixeirak commented on #72
Agree that this is a lower priority issue. Let's come back to it.

[2018-10-12 19:54] mcgregorian1 opened #123 "Questions for reviewing site duplications"
Other than these questions, the instructions thus far are good.

Step 4: Should we add in that if the .pdf is not labeled in the correct way AUTHOR_YEAR_1234, then rename the file?

Step 4: What should suggestions be if the data is not a pdf? E.g. [Clark_2013_ntfl](https://daac.ornl.gov/cgi-bin/dsviewer.pl?ds_id=218)

Step 5b: Do we enter “0” if all the other sites are unique?
- For example, Clark

[2018-10-12 22:08] teixeirak commented on #116
6. Best if user enters it.
7. We've dealt wit htihs.
8. Clarified in metadata
9. This has been deleted.

[2018-10-12 22:08] #116 closed

[2018-10-12 22:22] teixeirak commented on #117
Regarding 13b, I've thought of moving veg descriptors from `MEASUREMENTS` to `PLOTS`. however, this can change (in theory-- I'm not sure if we have any cases where it actually has changed enough).

[2018-10-12 22:23] teixeirak commented on #117
Regarding "1.", I'm confused...

[2018-10-12 22:33] teixeirak commented on #117
Regarding 13 and 10, would it make sense to create separate how-to guides for each data table?

[2018-10-12 22:34] teixeirak commented on #117
11. That info is in the [missing values codes table](https://github.com/forc-db/ForC/blob/master/metadata/missing%20value%20codes.csv).

[2018-10-12 22:37] teixeirak commented on #117
12- clarified in citations metadata file.

[2018-10-12 22:39] teixeirak commented on #117
14. fixed.

[2018-10-13 19:21] teixeirak opened #124 "Review potential site duplicates at La Selva"
Specific for La Selva super.site:

    Loescher_2003_econ got data from a tower as part of the CARBONO project at La Selva Biological Research Station, but they didn’t use the actual CARBONO plots that Clark_2000_lvif used.

    Should Loescher sites.sitename be changed to only be La Selva Biological Research Station? I’m changing the confirmed.unique to say 1 plus I’m putting the specific size of

[2018-10-15 12:36] mcgregorian1 commented on #117
The CTFS sites for Ituri-Edoro and Ituri-Lenda in Chave_2008 were labeled as only "Ituri" and "Lenda." When I was searching for these sites in the measurements.csv file, I did a control-find command for the names, but they didn't show up. I later discovered they were labeled as *Ituri-* Edoro and Lenda.

  - My concern is simply that I almost started entering duplicate sites for these because the

[2018-10-15 13:55] teixeirak opened #125 "create ForC interactive map"
Let's create an interactive map (e.g., Google map) with all ForC sites. @ValentineHerr thinks this could be done through R, which is probably the best way to go (for automatic updating). Fusion tables and MyMaps are also possibilities.

We can also  look into the possibility of getting ForC on [Smithsonian's GIS page](https://si.maps.arcgis.com/home/index.html).

[2018-10-15 14:06] teixeirak commented on #117
Regarding instructions for entering data in each sheet, I'm thinking more of a detailed README that could walk an undergrad student (for example) through the process of data entry. Creating these probably isn't a high priority.

[2018-10-15 17:56] mcgregorian1 commented on #125
I will upload the .kml file plus the script in a second.

I did a quick check with doing a .kml in GoogleMaps and it seems Google got rid of that compatibility. Plus, as Krista saw, they put a hard cap of 2000 sites for the MyMaps thing.

That being said, the .kml can be easily viewed in the [web viewer](https://earth.google.com/web/) of Google Earth in addition to the desktop. All someone has to

[2018-10-15 18:35] teixeirak commented on #125
sure, that would be helpful. In that case, lets create a separate folder to hold the .klm and readme.

[2018-10-15 19:37] mcgregorian1 commented on #125
I can do that, but I've been unable to make the point headers as we want them. After reading below, did you still want me to do that?

After looking at it again, I realized the issue now is trying to have all the columns displayed for each point with an overarching label that is sites.sitename. Multiple searches have hit brick walls since the dataset_options argument of the writeOGR command is lab

[2018-10-16 14:19] mcgregorian1 commented on #125
I've updated the R-script and I've added the html file in Github. The map is now viewable in a browser and has labels that reflect the sites.sitename column. The script has options for making the map better if want in the future (the mapview function is very customizable).

I've asked Bill Fisher if he can help with downloading a basemap that is Google satellite. I'll make changes based on what he

[2018-10-16 15:17] teixeirak commented on #125
Thanks! Let's reference the map in the how-to guides.

[2018-10-16 21:11] teixeirak opened #126 "Add site/history info for forestGEO sites"
I recently added a lot of ForestGEO sites (e.g., Lutz, Johnson papers) but did not finish with site history and stand ages. This is a reminder to finish those.

[2018-10-17 13:18] teixeirak opened #127 "Add robaggioefl's soil data"
Dear, I'm a beginner here, I would like to contribute with the project though. I have soil carbon data in three different land uses sites in Amazon forest and in afforestation sites after long time agriculture land exploitation in Denmark. Could any of you give me a hand in how to upload and the shape of the data frame?

_Originally posted by @robaggioefl in https://github.com/forc-db/ForC/issues/

[2018-10-17 13:27] teixeirak commented on #127
@robaggioefl, thanks for your interest in contributing! I've moved this over to be a separate, new issue.

It sounds like your data would be relevant to a partner database that Susan Cook-Patton (@CookPatton) of the Nature Conservancy is assembling, so I'm tagging her here. Her database focuses on carbon (biomass, soil, etc.) in regrowth forests. We will be merging her data set in with ForC soon,

[2018-10-18 08:35] robaggioefl commented on #127
@teixeirak the data above-mentioned is on the way of publication. Once is published, I come back to you. Thank you for the help and a massive congratulation with the humongous project. It will definitely be an step forward regarding C changes around the world.
Best regards
Rodrigo

[2018-10-18 11:11] teixeirak commented on #127
Thank you! We'll be in touch later. I'll close this issue for now, and you can re-open when you're ready to add the data.

[2018-10-18 11:11] #127 closed

[2018-10-19 14:30] mcgregorian1 opened #129 "Ideas for clarifying data entry"
## Ideas for Methodology

1. Ideal organization of the method.id records in Methodology table would be a finite number of broad methodological approaches in method.category, and unlimited number of variants on those.

    a.  Before assigning a number, its good to see if there's already a record specifying the same approach (e.g., 446 could apply to multiple ForestGEO studies). If it doesn't exist

[2018-10-19 14:43] teixeirak commented on #129
clarification- Bukit Timah data entered in that pull request did not include any GPP or NPP. Becky's project will focus on productivity, but the Bukit Timah data was just practice entering data.

[2018-10-30 10:54] teixeirak commented on #64
@beckybanbury, this is one of the data sources I mentioned yesterday. I just wrote Cory Cleveland about these data; awaiting response.

[2018-10-30 15:45] beckybanbury commented on #64
@teixeirak, great, let me know when you hear back! Do we have the FLUXNET data saved anywhere; so far I've just found the site list? If not, I will download.

[2018-10-30 19:35] teixeirak opened #131 "fix units on DeAngelis_1981_pofe data"
@beckybanbury, It looks like the units on this latest pull request are wrong.  Please convert to Mg/ha, and also check that _OM or _C subscripts on the variable names are correct.

[2018-10-30 19:54] beckybanbury commented on #131
Ah okay - thanks for flagging that!

[2018-10-30 20:43] beckybanbury commented on #131
@teixeirak I've converted the units - corrected version is in the new pull request

[2018-10-30 20:54] teixeirak commented on #131
thanks!

[2018-10-30 20:54] #131 closed

[2018-10-31 10:31] teixeirak commented on #77
@beckybanbury, I wanted to draw your attention to this issue, which relates to the data you've been working on. I should have done this yesterday!

[2018-10-31 11:46] teixeirak opened #133 "edit new history records for DeAngelis_1981_pofe"
@beckybanbury,
This is repetitive info in a lot of cases, but the convention is to have two separate rows for hist.cat=establishment and hist.cat=regrowth. The motivations are that (1) there may be a lag between when natural succession begins and when the oldest trees get established and (2) in old forests the time since severe disturbance may be longer than the oldest trees. Also, regrowth can sp

[2018-10-31 21:42] teixeirak opened #135 "run QA/QC check on new records, fix any problems"
@beckybanbury (and @mcgregorian1)

This is a general issue I want to bring you both up to speed with, with a specific example for Becky to deal with.

We have code [here](https://github.com/forc-db/ForC/tree/master/scripts/QA_QC) to check new data to ensure that all measurements have corresponding site/plot/ history records, whether numerical values fall within the expected range, etc.  Assuming y

[2018-10-31 21:46] #133 closed

[2018-10-31 21:49] teixeirak commented on #64
From Cory Cleveland:

The data are public; we're welcome to use them. There's an updated database with much more data in the works, and he's checking with collaborators as to whether we can use that.

[This link](https://knb.ecoinformatics.org/view/doi:10.5063/F19021QT) should work to the old database. There are four excel files (litterfall [“canopy” column]; stem growth [“woody” column; decomposi

[2018-11-01 13:35] beckybanbury commented on #135
@teixeirak I've run both codes + created pull request for the new plots data.

When I run the code to check errors it is still saying that I have measurements with no corresponding plot record. I've checked all the sites I entered, and they now have plot records, so I'm not sure where this error is coming from. I will run it again after the branch has been merged to double check.

[2018-11-01 13:41] beckybanbury commented on #77
@teixeirak, one of the entries in this sheet has no site or plot name (notes say the page was cut off so name was unreadable) - is there a protocol for dealing with this when entering that data?

[2018-11-01 14:54] beckybanbury commented on #77
@teixeirak, I have now completed the data entry from this data sheet. Regarding the unnamed site, it isn't clear from the lat/long information where the site is located, so I think it is best if it is left out anyway.

[2018-11-01 17:56] teixeirak commented on #135
Thanks, looks great! The R code produces files (e.g., "m_no_p") to indicate which records are problematic. I'll look into the ones with problems.

[2018-11-01 18:30] #135 closed

[2018-11-01 18:39] teixeirak commented on #77
Thanks! There's another version of the data [here](https://github.com/forc-db/ForC_private/blob/master/intermediate%20data%20sheets/intermediary%20databases%20%26%20reference%20lists/DeAngelis%20NPP_IBP_198/data/woodland.txt); you can probably derive it from that.

[2018-11-01 18:41] teixeirak commented on #77
I believe there are also a few more sites that Nancy didn't finish digitizing.  Once that's done, it will be great to close out the task of incorporating this data set!

[2018-11-02 14:37] teixeirak opened #139 "Please provide original study in citation.ID, or at least in source.notes"
@beckybanbury, specifically regarding pull request #138, but also in general...

Please provide original study in citation.ID, or at least in source.notes. This will be very important for identifying duplicates (and I could see from a quick look at the Taylor data that there are some).

[2018-11-02 15:19] beckybanbury commented on #139
@teixeirak, no problem, I'll update. Does it work to put two citation IDs in the citation.ID column? If I enter the original study info in the source.notes, does it still need to be in name_year_fourletters format?

 Regarding duplicates, I have been checking whether the source citation is already entered in the spreadsheet; in a lot of cases they are, but there is no entry for variable ANPP_1_OM

[2018-11-02 15:31] teixeirak commented on #139
I'm glad you've been checking. You're really on top of it!

We always want Citation.ID in the standard format, with a corresponding record in citations table. Some of the studies are already in there. If its too time consuming at this point to do that, you can enter original studies in the notes to facilitate that process later, but its preferable to fill it in completely.

Citation.ID should have

[2018-11-05 11:32] #125 closed

[2018-11-05 11:32] #139 closed

[2018-11-05 11:39] teixeirak commented on #117
Regarding this:

I think our level of detail for methodology instructions is similar to other tables (i.e., basically no info in the how-to guide, but presumably sufficient instructions in the metadata). @mcgregorian1, please feel free to edit the instructions or metadata to address any specific points of confusion.

[2018-11-05 11:39] #117 closed

[2018-11-05 13:05] mcgregorian1 commented on #117
The only things I'm thinking of for clarification are a list for the method.category, since the metadata doesn't fully describe what would count as a category/how categories are decided.

Also, I'm assuming this would come later but we haven't decided yet about grouping sites together without a super site name right? Would this method.category be a similar approach to the grouping by site names we

[2018-11-05 15:32] beckybanbury commented on #117
@mcgregorian1, I remember finding the measurements metadata for this unclear when I was first entering data; it isn't clear whether new methodologies need to be added to that table, and how that should be done. When I was looking to include a method.ID for the study I was looking at, the fact that there are several entries with multiple citations made it unclear as to whether the method.citation r

[2018-11-05 16:36] mcgregorian1 commented on #117
Overall this seems like a question for @teixeirak. It appears we need to

1. define in the metadata the threshold for when a methodology is different enough from an existing one in the database to warrant creating a new method.ID.

2. clarify how to add new methodology. Should people search by variable first, then method.notes, then method.citation (in case they're using the same citation), and th

[2018-11-05 21:16] beckybanbury commented on #64
@teixeirak, there is some data in this set from a dissertation that has not been published in a journal as far as I can tell; do we include this or not?

[2018-11-05 21:59] teixeirak commented on #64
Yes, data that are published in intermediary sources are counted as meeting the “published criteria, even if personal communication.

[2018-11-05 22:03] beckybanbury commented on #64
Great! What should I enter in the citation.ID column for these sources?

[2018-11-05 22:10] teixeirak commented on #64
If there’s a full citation available, create an entry in citations. If personal comm, put the published source (here, Taylor) and list personal comm source in notes.

[2018-11-06 14:50] beckybanbury commented on #77
@teixeirak, I have now entered all the data from the digitized set and the raw data set above. Hopefully that completes incorporating this data set!

I have just gone through to fill in gaps in the data, but those changes haven't been merged yet.

[2018-11-06 16:38] teixeirak commented on #77
Wonderful; thank you!

[2018-11-06 16:38] #77 closed

[2018-11-07 20:48] beckybanbury commented on #64
@teixeirak, I have now completed entering the litterfall, stem growth and total ANPP data from this database.

[2018-11-07 22:20] teixeirak commented on #64
Wonderful, thank you!

[2018-11-07 22:20] #64 closed

[2018-11-08 09:54] teixeirak commented on #64
Wonderful, thank you!

[2018-11-12 17:46] beckybanbury commented on #63
@teixeirak, just so you're updated, I'm working on adding some of these data today.

[2018-11-13 19:15] beckybanbury commented on #63
@teixeirak , I have now checked all the data in these files - most was already added but I have completed adding the data that wasn't already present. Let me know if you'd like me to have a look at the multi-biome sets, if you get a chance to have a look over them.

[2018-11-13 22:02] beckybanbury opened #149 "Adding data from FLUXNET"
@teixeirak , data are downloaded.

Within each file, I think there's different values of GPP:
1) GPP_NT_VUT_REF: "GPP estimated from nighttime partitioning method, reference selected from GPP versions using model efficiency (MEF)"
2) GPP_NT_VUT_XX: "GPP estimated from nighttime partitioning method (with XX = 05, 16, 25, 50, 75, 84, 95)"
3) GPP_DT_VUT_REF: "GPP estimated from daytime partitioning m

[2018-11-14 17:02] beckybanbury opened #150 "Adding data from Gower 2001"
Checking Gower 2001 for any data not entered into the database + updating database with missing data.

[2018-11-14 19:40] beckybanbury commented on #150
All data entry from this paper is now completed.

[2018-11-14 19:40] #150 closed

[2018-11-15 17:06] teixeirak commented on #63
@beckybanbury, could you please check the user guides of the multi-biome compilations to see if they have any data that's unique/ of value to ForC?

[2018-11-16 19:17] beckybanbury commented on #63
@teixeirak , I've been working on this today and have been able to add some new data; quite a lot was already entered or in the wrong format for us though!

I have one dataset left, which I wonder if you'd be able to take a look at? It's the ODS_NPP file, which is saved [here](https://github.com/forc-db/ForC_private/tree/master/data%20to%20add/ORNL_DAAC_NPP). Obviously, there is a lot of data ther

[2018-11-19 17:09] beckybanbury commented on #63
@teixeirak, having looked more deeply at these data, it looks like most of the data is not reliable or useable. I've found a couple of references that look like they might have useable data, so am working through them. I've also removed some data that I previously added, because, having checked back, I don't think that it's sufficient quality or reliability.

[2018-11-19 21:35] teixeirak commented on #63
Thank you!

[2018-11-19 21:39] #63 closed

[2018-11-26 17:09] teixeirak commented on #149
For the record, description of flux partitioning methods is [here](http://fluxnet.fluxdata.org/data/fluxnet2015-dataset/data-processing/).

[2018-11-26 22:11] teixeirak commented on #149
@beckybanbury, could you please help sort out what the is the difference between _XX and _REF?

Note: it may be worth including more than one, and then assigning priority within ForC. That way we could see whether results are sensitive to method (both of which are perfectly valid).

[2018-11-27 13:09] teixeirak commented on #149
@beckybanbury, let's enter both GPP_NT_VUT_REF and  GPP_DT_VUT_REF. The associated methods should be:
GPP_NT_VUT_REF- GPP estimated from nighttime partitioning method (Reichstain et al 2005 GCB). Variable USTAR threshold, with reference selected from GPP versions using model efficiency (MEF). Associated citation: Reichstain et al 2005 GCB,
GPP_DT_VUT_REF- GPP estimated from daytime partitioning me

[2018-11-27 13:56] beckybanbury commented on #149
@teixeirak, okay great - thanks so much for looking at this!

[2018-12-04 19:03] ValentineHerr opened #158 "plot.names missing or duplicated for multiple plots"
@teixeirak, I noticed that some _plot.name_ are NA or NAC in ForC_measurements, and I think it is messing up the GROA History import. It is only 38 measurements, maybe we can try to fill that up?

Also, @aferson found instances where _plot.name_ has been duplicated across plots. For example, in the one publication she was looking at, there was clear plot IDs (like plot A1, A2...), but, in ForC, th

[2018-12-04 23:05] teixeirak commented on #158
I believe this was fully resolved with our in-person discussions.
Replace NA/ NAC in plot names with "unnamed"
We can edit the plot names as in the case described above, but its not a particularly high priority (unless trying to add more data from the same site).

[2018-12-05 14:00] aferson opened #159 "Issue with data in ForC not matching publication"
Please review measurement ID's: 11516, 11524, 11525, 11541, 11542,11543, 11552, 11560, 11561, 11574, 11575, 11576, 11588, 11595, 11604, 11605, 11611, 11621, 11627, 11647, 11652, 11663.

We are running into the same issue that we did yesterday that the organic layer data in ForC does not match that of Sierra_2012_tcai; this time it does say that the source was digitized. But we are unsure where the

[2018-12-05 14:06] teixeirak commented on #159
Please just replace these (and probably all records from that study) with the correct values. More generally, if/when you find errors in ForC when comparing to the original study, go ahead and correct.

[2018-12-05 14:55] ValentineHerr commented on #106
I realized that some column names in the output of the R script that converts HISTORY to PLOTS are not good. I need to deal with this so I am reopening this issue.

[2018-12-06 17:52] ValentineHerr opened #160 "problems with D.precedence"
@teixeira, if you can look at a few of the records in the D.groups bellow and tell me how you think we should handle that, that would be great.

1. There are 10 D.groups that have multiple "1" in _D.precedence_.
    - for 4 of them  (10, 11, 130, 291), I think it is because some record belong to more than one group of duplicates... --> maybe the answer is as simple as ignoring the one record that

[2018-12-07 17:33] ValentineHerr opened #162 "No dates reported in Taylor_2017_tari"
@teixeirak,

I am working on revamping the script that IDs duplicated measurements.
A lot of the data entered by @beckybanbury, _loaded.from_ Taylor_2017_tari is showing up in S groups with data _loaded.from_, Luyssaert_2007_cbob_v3.3 because there is no dates in the Taylor_2017_tari database.
Filling dates in those records, would require going back to the original publications. But there is 125 d

[2018-12-11 20:02] ValentineHerr opened #169 "minor fixes to be done"
Here is a running list of minor things that need to be fixed in ForC.

@beckybanbury,

- [ ] Can you check _site.ID_ 1240 and 2286? I believe they should be the same... at least their name is very similar ("...young" instead of "...Young", respectively). If you do edit, please do so in all relevant tables

[2018-12-11 21:15] ValentineHerr commented on #160
@teixeirak,
I believe that when I originally ran the code for duplicated measurements I was considering _stand.age_ "999" as NA. So, 2 measurements of the same variable, at the same plot, with no dates, and with _stand.age_ "999" were considered as S conflict, and both measurements were getting a capital S (which I think deletes them both when creating ForC_simplified).
Now I ran the code consider

[2018-12-11 21:46] beckybanbury commented on #162
All entries from Taylor_2017_tari have now been assigned dates, or assigned NI/NRA codes if appropriate based on the original publications.

[2018-12-11 21:46] #162 closed

[2018-12-12 19:02] ValentineHerr commented on #160
@teixeirak, can you remind me what "P" is in _conflict.type_?
I believe you had entered that for some records at BCI.
Is there any way we can get rid of it and maybe keep something that means the same thing in conflict notes?

I am asking this because my code does not produce any "P" so it also erases it when the script is run. Also, now there are new records that might need that "P" but I don't k

[2018-12-19 00:14] teixeirak commented on #160
P stands for "plot" and indicates a plot duplicate (but not identical- at least in this case).

[2018-12-19 00:15] teixeirak commented on #160
yes

[2018-12-31 23:18] teixeirak commented on #160
Returning here, I'm noticing that my previous response was probably confusing. The "yes" (sent via email) refers to the earlier question  ("That second second solution is better, right?").

[2018-12-31 23:30] teixeirak commented on #160
Regarding this: "for 6 of them (1167, 1168, 1170, 1171, 1172, 1173) it is because there is one record that also belongs to a Replicate group... Maybe it is a mistake here?"....
These appear to be assigned to two separate groups of replicates (from separate sites). I suspect that manual editing accidentally re-assigned existing D.group numbers.

[2018-12-31 23:38] teixeirak commented on #160
Regarding this, "There is 41 D.groups that do not have a "1" in D.precedence:
(387, 432, 433, 458, 475, 476, 489, 490, 493, 556, 580, 607,
628, 629, 660, 667, 683, 684, 697, 698, 720, 731, 756, 757, 758,
787, 793, 852, 940, 941, 956, 965, 982, 983, 996, 997, 1000,
1002, 1003, 1059, 1106)
I think again it is mostly because there are some records that belong to more than one group, or that are also

[2018-12-31 23:39] teixeirak commented on #160
Regarding the "P" code, it should be handled the same as site duplicates/ super.sites.

[2018-12-31 23:49] teixeirak commented on #126
@beckybanbury, this is something you could help with. It will require referencing site descriptions, mostly in publications listed in the supplementary info of [Anderson-Teixeira et al. 2015, GCB](https://onlinelibrary.wiley.com/doi/abs/10.1111/gcb.12712).

[2019-01-03 10:21] beckybanbury opened #171 "Update ForC simplified"
@ValentineHerr I'll be using the ForC simplified data in my analysis - I'm currently looking at sample sizes of different variables to plan the analysis, so it would be helpful to have the updated ForC simplified to work with. Is it okay for me to update using your script, or is this something you prefer to do yourself?

[2019-01-03 13:50] ValentineHerr commented on #171
@beckybanbury,
I am still working on the duplicate records and a few other things. I feel that I am many steps away from getting it ready but maybe I should just go ahead and update the measurements with what I have so far. That will always be better than what the current version is.
There will be a few manual steps and you will probably be the best person to do them. Once you do those, you can up

[2019-01-03 15:21] beckybanbury commented on #171
@ValentineHerr thanks! I've got the code to work, but currently the code is excluding the data Abby and I entered because the "conflicts" column isn't coded. I presume this will be sorted once the duplicates code is run on that data, or is it a different code that I need to run?

[2019-01-03 15:22] ValentineHerr commented on #106
@teixeirak ,
DUKE FOREST LOBLOLLY PINE_MANAGED LOBLOLLY PINE PLANTATION
have 2 records for establishment of oldest trees in HISTORY. Is it a mistake? The code to create PLOTS from HISTORY does not handle that.

[2019-01-03 15:43] ValentineHerr commented on #171
FYI, I just updated PLOTS and saw that you had just done it too. I don't think that it will cause problems because it should basically be the same thing but I wanted to point it out just in case.

[2019-01-03 18:35] ValentineHerr commented on #171
All right... This is not happening...
On line of code that takes 2 minutes to run at work is taking more than 3 hours now and is still not completed on my machine.
I tried to run it on the Rstudio Cloud (pretty cool thing by the way) hoping that the server would run it quickly but it does not. Maybe it is because my connection is no amazing...

So, @beckybanbury, please:

- [ ] run scripts\z_archi

[2019-01-04 10:48] beckybanbury commented on #171
@ValentineHerr I have managed to get the code to work and get a pop-up that says I have 76 groups where D precedence has to be given manually. However, I think there may be a problem with the sections of codes that read like this (lines 1468 and 1484):
for(split.ID in missing.D.precedence.split.ID) {
  X <- MEASUREMENTS.final[MEASUREMENTS.final$split.ID %in% split.ID & grepl("D", MEASUREMENTS.fina

[2019-01-04 11:13] beckybanbury commented on #171
@ValentineHerr I've saved the ForC_measurements file and committed it to my branch because I think that in a few cases the code may have overwritten previously assigned D precedence. It would be great if you could review the changes and let me know!

[2019-01-04 14:12] ValentineHerr commented on #171
@beckybanbury thank you so much for running the code. I am glad it worked on your machine.
You are right, "readline()" in line 1484 should be commented out by default so the code runs smoothly for someone who won't be looking at those 76 groups of duplicates one by one.

I will review those overwritten D precendence. Hopefully it happens only when I agreed it should, meaning for the following meas

[2019-01-04 15:42] ValentineHerr commented on #171
I pushed a code that will help comparing master version and your branch version (output of "ID_sets_of_duplicate_records.R") [here
](https://github.com/forc-db/ForC/blob/master/scripts/z_archive/compare_duplicate_records_btwn_master_version_of_MEASUREMENTS_and%20beckybanbury_version.R).
1. So there are a few D.precendence that have been changed because new entries (yours) came into play and are no

[2019-01-04 17:31] beckybanbury commented on #171
@ValentineHerr I'm having trouble pushing the MEASUREMENTS.split.Rdata file because it's so large (0.2 GB). Is there a different way to get you the information? I'll keep trying but GitHub desktop isn't doing well with it!

[2019-01-04 18:40] ValentineHerr commented on #171
hmm... did you try to drag the file directly into GitHub online?
you can try ` saveRDS(MEASUREMENTS.split, file = "scripts/z_archive/MEASUREMENTS.split.rds")` and see if that is smaller

[2019-01-04 19:12] bpbond commented on #171
For a file that large you probably want to set up [Git LFS](https://git-lfs.github.com).

[2019-01-07 17:02] beckybanbury commented on #171
Thanks all - @ValentineHerr I've tried uploading the file as a release, saved [here](https://github.com/forc-db/ForC/releases/tag/v1) ; let me know if that's any use to you.

[2019-01-07 19:37] ValentineHerr commented on #171
that is perfect! thank you so much!

[2019-01-07 21:30] ValentineHerr commented on #171
@beckybanbury ,
The code was giving me errors (that I fixed) but it was related to a case of your recent edits of _D.precedence_. Sorry, I know it is pretty tedious and confusing when some records are assigned to multiple groups but could you review what I suggest in the second table and let me know if that is what you meant to enter?

current:

measurement.ID |stand.age| D.group | D.precedence |

[2019-01-08 09:38] beckybanbury commented on #171
@ValentineHerr yes, sorry for the confusion; I had a problem where I manually edited some of the groups but didn't complete editing them, and so had to return to it, so things are half finished. The script won't re-identify groups that need manually editing once they have a D group assigned, so I've been trying to work out a way of identifying which groups need editing. Because they have multiple

[2019-01-08 09:51] beckybanbury opened #174 "Check scale/units of FluxNet data entered"
Reminder to myself to double check FluxNet data; data entered recently doesn't scale with data entered by Maria

[2019-01-08 12:32] beckybanbury commented on #171
@ValentineHerr I've pushed the updated ForC measurements, which should now have all the entries that require manual editing completed. Please let me know if you have any problems with it!

[2019-01-08 12:50] beckybanbury commented on #174
Units corrected

[2019-01-08 12:50] #174 closed

[2019-01-09 12:58] ValentineHerr commented on #171
@beckybanbury , thank you so much for working on that. Maybe the best step now would for you to run the script that identifies and groups the duplicates and to save the updated measurements in your branch so that I can again run some code to double check what happened …. What do You think?
Note that I pushed an update on that script this morning.

[2019-01-10 12:20] beckybanbury commented on #126
@teixeirak I've updated this as far as possible based on the data available; there's still a few sites with no info (publications were in Chinese!).

[2019-01-10 12:37] beckybanbury commented on #171
@ValentineHerr do you mean to run the updated ID_sets_of_duplicate_records scripts on the updated measurements? When I am running it now I am not getting any changes to the measurements table and nothing flagged up in the script.

[2019-01-10 14:56] ValentineHerr commented on #171
Hmm. Strange. Did you make sure to uncomment the row that saves the new measurements? Silly question but just to make sure.

[2019-01-10 15:15] beckybanbury commented on #171
Embarrassingly no. I've re-run and pushed the output! I ran it twice and strangely got two different pop-ups each time; first time it said nothing to review, second time it said two groups needed review.

[2019-01-10 19:04] ValentineHerr commented on #171
Interesting. Did you happen to look at those 2 groups?
I am going to compare your branch with the master version now. Sorry I am not super reactive these days.

[2019-01-11 11:58] beckybanbury commented on #171
@ValentineHerr I re-ran the code and pushed it again - I'm getting some pretty strange outputs where it's overwriting large parts of the measurements table. I'm getting an error at row 110, but aside from that it's running okay.

[2019-01-11 15:58] ValentineHerr commented on #171
@beckybanbury, there is 15381 NAs in _measurements.ID_ of your version of MEASUREMENTS. Do you know where they come from?

[2019-01-14 11:04] beckybanbury commented on #171
@ValentineHerr I'm really unsure about this; in the script it looks like MEASUREMENTS.final possibly isn't getting written properly (it's all NAs), but I don't know why it's overwriting part but not all of MEASUREMENTS with NAs

[2019-01-14 19:42] ValentineHerr commented on #171
@beckybanbury, I think I have to wait for the government shutdown to be over to work on that. I need a better working station that what I have at home. I am not going anywhere like this. Sorry.
You should be able to work on the current ForC_simplified though, and get the code ready for your analysis. I know it is not ideal but I think it is the most effective for now... Let me know if you have any

[2019-01-28 18:40] teixeirak commented on #106
Yes, this is a mistake. Are you able to tell which can be deleted, or does it need my review?

[2019-01-28 21:02] ValentineHerr commented on #106
@teixeirak ,
investigating the above, I found that some sites in HISTORY do not exist in MEASUREMENTS of SITES, and vice-versa. (there are also sites that are missing in SITES, compared to MEASUREMENTS).
I should probably investigate this further.... it could be that people did not enter data in all tables they should have to.... ?

[2019-01-28 21:30] ValentineHerr opened #175 "Investigate missing sites in different tables"
Here I am listing sites (and I am not going into the plot level yet) that exist in one table but not another.
The reasons might be good, like sites related to issue #126 but they might also be more complicated and reveal other issues.
@teixeirak and maybe @beckybanbury, do you have an idea why there are so many discrepancies ?

1. _sites.sitename_ in HISTORY but not in SITES nor MEASUREMENTS

[2019-01-28 21:31] ValentineHerr commented on #175
never mind for now.... it looks like there is a lot of hidden spaces that I did not take into account...

[2019-01-28 21:54] ValentineHerr commented on #175
Ok I fixed some extra spaces in HISTORY and updated the lists above. So @teixeirak and @beckybanbury you can review now.

[2019-01-28 22:45] teixeirak commented on #175
I'll let @beckybanbury take the first pass.

[2019-01-30 18:49] beckybanbury commented on #171
@ValentineHerr  I've noticed that ForC_simplified is missing some of the data that has been flagged as an "s" conflict e.g. neither of the ANPP_woody_stem entries for Porce have been transferred. Is this because I need to manually assign precedence?

[2019-01-30 19:04] ValentineHerr commented on #171
No, if a record is only a “s” conflict (meaning there is a number in _S.group_ and not in _D.group_) then there is no precedence to give and only the record with “s” will make it to ForC_simplied, records with “S” won’t.
Note that I am still working on the duplicate code so ForC will change soon.

[2019-02-07 15:04] ValentineHerr opened #176 "QA/QC - Things to fix"
Here is the running list of things to fix.
I'll try to understand and fix as much as I can before asking for help.

----- MEASUREMENTS checks -----
- [ ] There are 247 measurements with no corresponding plot record
- [ ] Variable not defined: ANPP_woody_stem.
- [ ] There are 48 measurement records with no corresponding methodology record

----- SITES checks -----
- [ ] There are 27 sites with no c

[2019-02-07 15:19] teixeirak commented on #176
Most of these issues probably relate to the new data. @banburymorgan, could you please take a look first? I’ll review he ones you can’t solve.

[2019-02-07 18:50] ValentineHerr commented on #176
@teixeirak, all the missing method.ID are for stand.density, and I am assuming method.ID is correctly NA there, right ? If yes, I'll adapt the check script to ignore this situation.

[2019-02-07 19:44] ValentineHerr commented on #176
- [ ] @teixeirak here are the _hist.type_ not defined in HISTTYPE table:

hist.cat|hist.type
--|--
Management|Warming_soil
Management|Warming_air
No.disturbance|No major disturbance
Regrowth|Initiation of post-disturbance cohort (planted)
No.disturbance|NAC

[2019-02-07 20:27] ValentineHerr commented on #169
Closing this.
I think it is not an issue anymore but _site.ID_ 2286 is a very different site now.... either site.ID have been re-assigned at some point (BAD case) or I reported it wrong in this issue (BETTER case... ).
I guess we will find out at some point, especially when importing GROA.

[2019-02-07 20:27] #169 closed

[2019-02-07 22:27] ValentineHerr commented on #176
@teixeirak and @beckybanbury,

I created [this file](https://github.com/forc-db/ForC/blob/master/scripts/QA_QC/checking_range_of_records.html) (that you probably have to open in your web browser from your computer, after pulling) that shows records that are outside of the range of values previously calculated for each variable.

I haven't had a close look yet but I thought I would mention it to yo

[2019-02-08 16:33] teixeirak commented on #176
This is helpful; thank you @ValentineHerr.

@beckybanbury, we do not need to review all of these records-- only the ones that are significant outliers.  I'll leave this to you, but please let me know if there are any you'd like me to look at.

[2019-02-08 17:27] teixeirak commented on #176
-Warming was in there as Warming_X, with X indicating soil or air. I fixed it to make coding easier.
-There is a No.disturbance, "No severe disturbance". These should be the same. Let's replace "major" with "severe"
-Regrowth should be one of the following:

Regrowth(_prior) | Initiation of post-disturbance cohort   (planted or natural)
Regrowth(_prior) | Planted

- How many `No.disturbance 	NAC`

[2019-02-08 17:36] teixeirak commented on #176
yes, correct

[2019-05-10 19:18] ValentineHerr commented on #176
@teixeirak,
here are few things that need to be done or answered.
Note for myself: I created this list after importing SRDB data and updated all files and figures.

- [ ] give D.precedence to record that have "NAC" there (SRDB data, pending on [this issue](https://github.com/forc-db/ForC_private/issues/18))

- [ ] replace NEP and NPP_litter to NEP_C and NPP_litter_C for SRDB. And Ideally, find out

[2019-05-10 19:22] ValentineHerr opened #177 "history.no.info, do we want to include those plots?"
Do we want to include the ForC_simplified records that have a 1 in _history.no.info_ for the age trend in C cycle and the diagrams of C cycle ?

[2019-05-10 19:23] teixeirak opened #178 "SRDB import cleanup"
Here's a running list of things to check/ fix:
- [x] Some plot names repeat "Stand established around [YEAR]"
- [x] Some plot names include "Stand established around NA"
- [x] Plot name "Unmanaged Mature Temperate Evergreen Forest with Clearcut treatment. Stand established around 1980" and any similar ("Clearcut treatment" doesn't make sense) - see issue #180
- [x] Remove "with No inputs treatment

[2019-05-10 19:31] ValentineHerr commented on #177
Note 1: the current plots are without them
Note 2: I actually just pushed the new version with SRDB (they were not updated in the previous push because I had forgotten to save the plots...)

[2019-05-10 19:34] teixeirak commented on #177
Yes, please include. We will still  exclude some based on management. If not already implemented, we should exclude those with  "Managed" in their name.

[2019-05-13 10:32] teixeirak commented on #176
23.5

[2019-05-13 10:33] teixeirak commented on #176
I'm confused... its there in the version I'm looking at. It has value `NA` for all SRDB records.

[2019-05-13 10:38] teixeirak commented on #176
I believe we added this recently-- perhaps for GROA import?  You can leave it ehre.

[2019-05-13 14:38] teixeirak commented on #176
By, "there", do you mean in methodology? If so, please don't automatically assign precedence there; those should get manual review (for now).

[2019-05-13 14:47] teixeirak commented on #176
**YES**

**These are separate cases. The first indicates that we know the stand was planted. The second indicates that its ambiguous whether regen was natural or planted.**

**In some cases it was ambiguous what type of warming was applied. I added the category "warming" to HISTTYPE**

[2019-05-13 15:13] teixeirak opened #179 "Differentiate natural and experimental drought in SRDB import"
Currently, natural drought and experimentally imposed drought (e.g., throughfall diversion) are both coded as "Disturbance"- "Drought" in HISTORY, following [this guidance](https://github.com/forc-db/ForC_private/blob/master/data%20to%20add/srdb/manipulations.csv). However, we need to be able to separate the two, as many analyses would want to exclude the latter but not the former. Rather than cod

[2019-05-13 16:16] teixeirak opened #180 "clarify meaning of "Clearcut" manipulation in relation to stand age"
There are some instances in srdb where `Manipulation = Clearcut` but `Age >10`:

 <img width="2560" alt="Screen Shot 2019-05-13 at 11 45 01 AM" src="https://user-images.githubusercontent.com/6355854/57635127-93552e00-7574-11e9-937d-f23f3258e91b.png">

The way the data are currently being imported, these don't make sense. They are assigned the reported age, which seems far too old for "clearcut tre

[2019-05-13 16:34] bpbond commented on #180
I'll go investigate those later today.

[2019-05-13 17:10] ValentineHerr commented on #176
By "there" I mean in D.precedence. I just meant that we need to give D.precedence manually to some records, once we know how to rank the different methodologies coming from SRDB.

[2019-05-13 17:14] ValentineHerr commented on #176
Ok so I'll add a category for "Initiation of post-disturbance cohort (planted)" to HISTTYPE

[2019-05-13 17:16] teixeirak commented on #176
Okay, please incorporate Ben's feedback and let me know if there are any left for me to review.

[2019-05-13 18:27] teixeirak opened #181 "manual fixes once SRDB import is final"
Running list:

- [ ]  history/ plot name for Husnain_2014_ceft site "R-SF"

[2019-05-13 20:42] ValentineHerr commented on #179
I think the easiest way to deal with this is to update manipulation.csv
Which ones, if not all, of these SRDB Manipulation should be changed to "Management" - "Precipitation diversion" ?

- [ ]  Drought
- [ ] Drought, irrigation
- [ ] Rainfall exclusion
- [ ] Throughfall exclusion
- [ ] Warming, drought

[2019-05-13 20:46] teixeirak commented on #179
All.

[2019-05-13 21:08] ValentineHerr commented on #179
Ok I updated manipulation.csv.
Leaving this open until I redo the import to double checked that worked

[2019-05-14 10:34] bpbond commented on #180
[code]

I went back to the original studies and these were all mistakes! Good catch--thank you. Corrected.

[2019-05-14 10:41] teixeirak commented on #180
Thanks!

[2019-05-14 11:13] #180 closed

[2019-05-14 11:50] teixeirak opened #182 "SRDB import: dates on fluxes other than soil respiration"
In the initial import, we assumed that `Study_midyear` applied to Rs and not to other variables such as GPP, NPP. However, that leaves us with no date for a lot of records, when in fact `Study_midyear` would apply to many/most/all(?) of these records. Moreover, some of these records may differ only in Study_midyear (e.g., Schanis).

@bpbond, what was the convention on dates for supplementary fluxe

[2019-05-14 11:56] teixeirak opened #183 "SRDB import: count records with consecutive Study_midyear as single plot"
@ValentineHerr, in cases where Study_midyear increases consecutively and Age stays the same, we have what the code thinks are separate plots when in fact we're dealing with a multi-year study at the same plot (example: Schanis). Please modify these such that we only get one plot, with age defined based on the first study date.

Please alert me if this causes unexpected problems. I think we've been

[2019-05-14 12:52] ValentineHerr commented on #178
@teixeirak,

About

Below is a table of all combinations of Ecosytem_stage and Manipulation that exist in SRDB (forest and savanna).
I am not sure they all make sense, (example: "Undrained, unplanted" is considered as managed). Also I am not sure "Natural' is always appropriate.
But for unmanaged, does that mean I should keep it only for plots that have "None" or "No inputs" in Ecosytem_stage ?

A

[2019-05-14 12:55] ValentineHerr commented on #178
note about

Stand.age is coming from Age_disturbance and if that is missing we take Age_ecosystem. Maybe Age_disturbance is not relevant when it is a minor disturbance? That might be why there are so many young plots that are labeled as mature ?

[2019-05-14 13:07] bpbond commented on #182
The supplementary fluxes should almost always track `Study_midyear` just as `Rs_annual` does. There may be occasional cases when the authors gave e.g. a GPP without exactly specifying the year, so could be a bit off, but should be rare.

[2019-05-14 13:10] bpbond commented on #178
Hmm, could be. In SRDB `Age_disturbance` should generally reset with any kind of disturbance.

There's some fuzziness around the edges, but in general the Natural-Unmanaged-Managed binning is useful I think: "no human influence", "no recent/active human management", "actively managed".

[2019-05-14 15:43] teixeirak commented on #182
okay, thanks. @ValentineHerr, please treat dates on these supplementary fluxes the same as Rs.

[2019-05-14 15:54] teixeirak commented on #178
I think that in many cases, treatments that we count as management may have been applied to natural/ unmanaged stands. That is, the designations in SRDB apply prior to application of experimental treatments. Is this correct, @bpbond ?

[2019-05-14 16:00] teixeirak opened #184 "SRDB: clarify stand age and disturbance"
Hmm, could be. In SRDB `Age_disturbance` should generally reset with any kind of disturbance.

_Originally posted by @bpbond in https://github.com/forc-db/ForC/issues/178#issuecomment-492230878_

This is a broader issue that we need to figure out. ForC counts stand age as the age of the oldest trees/cohort.

I think it would help to look at a few examples of this. Note that for the one example I l

[2019-05-14 17:21] bpbond commented on #178
Right!

[2019-05-15 10:32] teixeirak commented on #178
@ValentineHerr, this means that we should drop the managed/unmanaged/natural for all stands with treatments and the mature/aggrading designation when the disturbance is stand-clearing.

[2019-05-16 13:32] ValentineHerr commented on #184
@teixeirak, do we have a final call on this?

[2019-05-16 13:50] ValentineHerr commented on #183
I wrote the code to deal with that. I don't know yet what problem it can cause (I need to roll back all changes in ForC and run SRDB_import.R again to figure it out), so leaving this open for now.

[2019-05-16 14:22] ValentineHerr commented on #182
@teixeirak,

currently I have :

-  if variable name **is NOT** _R_soil_C_, _R_het_litter_C_, _R_auto_root_C_, _R_het_soil_C_, _R_auto_root_C_, _R_het_soil_C_ then:
      - date <- "NAC"
      - start.date <- NA
      - end.date <- NA
      - date.loc <- 9
      - start.date.loc <- NA
      - end.date.loc <- NA

-  if variable name **IS** _R_soil_C_, _R_het_litter_C_, _R_auto_root_C_, _R_het_soil_

[2019-05-16 14:54] teixeirak commented on #182
correct.

[2019-05-16 14:56] ValentineHerr commented on #182
Ok, I updated the code accordingly. Leaving open to double check with new import.

[2019-05-16 15:05] ValentineHerr commented on #177
Closing this. Note that we eventually decided to keep excluding sites with history.no.info = 1 since we are identifying managed/unmanaged sites differently with SRDB.

[2019-05-16 15:05] #177 closed

[2019-05-16 15:09] teixeirak commented on #184
I need to review some examples. Working on it.

[2019-05-16 16:28] teixeirak opened #185 "SRDB: fix NAs / NACs in citation.ID"
There's a huge number of records with NA/ NAC in citation.ID. I'm not yet sure why.

[2019-05-16 16:36] teixeirak commented on #185
@ValentineHerr , I'm not sure what's causing this-- something in the code?

An example is ForC record 22249/ SRDB record 691. Site = Fazenda Vida Nova. Study = #937, Author = Fiegl.

[2019-05-16 17:20] ValentineHerr commented on #185
Good catch. sorry for that.
There was a problem in the code. _citation.ID_ is populated only if _Quality_flag_ is not "Q02" but the code was not considering the possibilities where _Quality_flag_ is NA...
I fixed it.

[2019-05-16 18:04] ValentineHerr commented on #178
@teixeirak,

I I am not sure I understand this....

Here is the current plot.name definition (coming from [this issue](https://github.com/forc-db/ForC_private/issues/7))
"**[Ecosystem_state] [stage] [Biome] [Leaf_habit (changing "mix" to "mixed"] [Ecosystem_type] , with [Manipulation, if any] ([level, if any]) treatment, "stand established around [year of measurement - stand.age] ([if any])**"

(n

[2019-05-17 14:48] teixeirak commented on #178
Not quite. There are two separate changes.

1:

    If a record
        has anything but "None" or "No inputs" in Manipulation, or "stand-clearing"

--> then drop [Ecosystem_state] from the plot.name definition.

[2019-05-17 14:54] teixeirak commented on #178
2:   If a record has any Manipulation corresponding to "stand-clearing" in the manipulations.csv and [stage = mature] OR if age<100 years,

---> then drop [stage] from the plot.name definition.

[2019-05-17 14:58] ValentineHerr commented on #178
Is this still valid ?

[2019-05-17 15:08] teixeirak commented on #178
These records have been fixed in SRDB.

[2019-05-17 15:26] ValentineHerr commented on #183
I found a tricky example related to this.

This is data from site "Oak Ridge"
Columns indicates the stand.age, rows the study_midyear.
Numbers in the grid are the number of record in SRDB.

![image](https://user-images.githubusercontent.com/19673377/57938263-d590af00-7895-11e9-9207-671dc818c646.png)

We, as human, can see that stand with age 10 was samped in years 1997-2001 but the stand age was n

[2019-05-17 15:54] ValentineHerr commented on #183
[This ](https://github.com/forc-db/ForC_private/blob/master/data%20to%20add/srdb/issue_183_not_fixed_with_code.csv) is a file with all situations that my code is not fixing. (It is easier to look at the file in Excel, ignore the X in front of stand age)
All other cases (where there is only one stand age involved) are easily fixed.

[2019-05-17 16:18] teixeirak commented on #184
From what I can tell after reviewing some records, we're generally getting accurate stand age from age.disturbance. Thus, I don't think we need to do anything here. (Sound right, @bpbond?)

[2019-05-17 16:24] teixeirak commented on #183
Got it. This is a tricky one to deal with. Some will obviously require manual review, but I'm wondering if there's any way to facilitate that/ code away some of the more common problems.

[2019-05-17 16:25] bpbond commented on #184
Agreed.

[2019-05-17 16:26] teixeirak commented on #184
Good, we can close this.

[2019-05-17 16:26] #184 closed

[2019-05-17 16:39] teixeirak commented on #183
Here's the start of a list I'm making as I assess these:

Examples of legitimately independent plots, and would be good to exclude from this list:
- Northern Limestone Alps
- Buckingham-20

Examples that seem like they'd be solved by counting as the same plot if date is only 1/2 year off:
- BOREAS NSA-OBS
- Coweeta-WS6

[2019-05-17 16:40] teixeirak commented on #183
The 1/2 year issue seems like it may be easily solveable, and seems to be affecting a good number. Sometimes it would be solved by rounding up, other times by rounding down.

[2019-05-17 16:44] teixeirak commented on #183
There are a number where measurements were made in only one year. If all records are from the same study, they can be counted as legitimately separate plots and removed from the list.

[2019-05-17 16:47] teixeirak commented on #183
When one of the ages is NAC, its a likely duplicate with another plot but requires manual review. These should be imported as is and will need to be reviewed later. Please make a list of these.

[2019-05-17 17:04] ValentineHerr commented on #183
Can you show me an example where rounding 1/2 year would solve the problem?
And how to automatically decide if it is supposed to be rounded up or down?
I don't see the trick! :-)

[2019-05-17 17:14] teixeirak commented on #183
Actually, this isn't dealing with consecutive years; rather, it would come in where you decide whether plots were established in the same year. If

Several examples below. In this case, if you count 1971 as the earlier year of measurement, there's a 24 year difference between the first and second measurements, and also a 24 year difference in stand age. One way to solve this (that would actually b

[2019-05-17 17:41] ValentineHerr commented on #183
ok, I'll use floor(Study_midyear) when attributing plot.name

[2019-05-17 18:36] teixeirak commented on #183
@ValentineHerr, I've updated the list above. Could you please try implementing those (hopefully all pretty easy) and see how the list looks?

[2019-05-31 20:45] ValentineHerr opened #186 "Fix San Pedro sitenames"
Currently there is 2 sites with sites.sitename San Pedro.
sites.sitename 2343 should be San Pedro- SPD-01 and sites.sitename 1601 should be San Pedro- SPD-02.
This will match SRDB data.
all tables with sites.names should be edited. plotnames should help guessing which is which.

[2019-06-03 14:10] #186 closed

[2019-06-03 15:10] ValentineHerr opened #187 "SRDB _dominant.veg_ gives biomes of type "Boreal **Other** MATURE" and are not counted in numbers and facts"
@teixeirak ,

I worked through the fixes with SRDB import but the C cycle diagrams and other figures have still not changed.

I found out why:
The _dominant.veg_ of new SRDB records are 2TD, 2TE, 2TM or NAC and those are all classified as "others" in the leaf traits as they are neither broadleaf (2TEB, 2TDB or 2TB) nor conifers (2TEN, 2TDN, 2TN).
that means that the biomes for SRDB records are of

[2019-06-03 17:54] teixeirak commented on #187
Unfortunately, I don't see an easy way to totally automate this from SRDB, as there is no field indicating broadleaf/ needleleaf. However, we can apply some rules to get a lot of them (I'll start this list now and add some more in edits):

-[ ] if dominant.veg = 2TE and | latitude | > 40, assign 2TEN.

[2019-06-05 13:53] ValentineHerr commented on #187
@teixeirak ,
I ended up scraping the full list of Angiosperms and Gymnosperms to have a complete list of genus.

Question:
 - After doing item 1 above, when I find cases to replace in item 3, I have 2TD, 2TE, 2TEN. I am assuming that I should replace:
    -  2TD by 2TDN
    -  2TE by 2TEN
    - 2TEN by 2TEN
    - if some other ones show up I would replace them by 2TN

Right?

same with broadleaf ?

[2019-06-05 15:21] ValentineHerr opened #188 "duplicated records and measurement.ID"
@beckybanbury , I am noticing that some records you entered appear several times (see measurement.ID 17613-17648 and 17638-17641).
It is not a big deal for the analysis because the code IDs them as replicates and averages them out but it would be nice to delete the replicate ones so that we don't over estimate the number of data we have in ForC and, most importantly, we can spot cases where the me

[2019-06-05 15:56] teixeirak commented on #187
Correct.

[2019-06-05 16:16] ValentineHerr commented on #188
For Information,
This is an important issue as the second record with same measurement.ID will be lost in the script that IDs duplicated records (the uses measurement.ID to match things up, when there is a tie it uses first match only and the second is lost).

I am adding a check in QA/QC script. to flag when there is duplicate measurement.ID

I am giving a new measurement.ID to Duke Forest Loblol

[2019-06-05 17:53] beckybanbury commented on #188
@ValentineHerr wow that's super weird, I have no idea how that happened; I'll delete them and let me know if you find any others!

[2019-06-05 17:59] ValentineHerr commented on #188
I know it is strange. I hope it is not a symptom of something wrong in a script.
Let me know when you are done with it.

[2019-06-05 18:05] ValentineHerr commented on #187
Success!!!
Figures have many more records in them now.!!!
I'll wait a little before I push everything. I still need to double check all the stuff mentioned in issues that I likely fixed before vacation but never double checked.
@teixeirak, I pushed the new_data [here ](https://github.com/forc-db/ForC_private/tree/master/data%20to%20add/srdb/new_data)if you want to have a look at it.

[2019-06-05 18:13] ValentineHerr commented on #185
Ok, now all records coming from SRDB that have citation.ID imported as "NAC" (418 cases) are that way because their _Quality_flag_ is "Q02" in the original SRDB data base.

@teixeirak , please close this issue if that is what is supposed to be.

[2019-06-05 20:12] #182 closed

[2019-06-05 20:17] ValentineHerr commented on #179
@teixeirak, should this happen for all records in ForC or just SRDB?
If SRDB only, it is done and you can close it.

[2019-06-05 20:20] ValentineHerr commented on #178
@teixeirak , about

see [this issue](https://github.com/forc-db/ForC_private/issues/21)

[2019-06-05 23:32] teixeirak commented on #187
Great! I'm looking forward to seeing them! I'll try to make it through some of these issues now. (I've been out with Yannik doing some June sledding and hiking in the Sierras!)

[2019-06-05 23:54] #179 closed

[2019-06-06 00:05] teixeirak commented on #185
For the record, Q02 = data from another study.

This is correct according to my original instructions, but I'm wondering if it would be better to somehow retain the citation in SRDB in association with these records-- at least in source.notes. @bpbond, do you have an opinion on this? Would the citations associated with records with this code typically at least point to the real source? It seems im

[2019-06-06 00:09] teixeirak commented on #188
regarding record 4343, it was only associated to Duke Forest in the Ecology data pub. Mt. Dissapointment had IDs 9864-9869.

[2019-06-06 00:09] teixeirak commented on #188
(Oh, looks like you already figured that out!)

[2019-06-06 02:26] bpbond commented on #185
Usually the "Q02" codes aren't that important; it signals that some of the ancillary data, not the primary soil respiration data, come from another study.

[2019-06-06 04:58] teixeirak commented on #185
Okay, @ValentineHerr , let's include the citation.ID for these studies, but add a note in `source.notes` on variables other than soil respiration stating that data may come from another study.

[2019-06-06 14:10] ValentineHerr commented on #185
Ok, now all records for variables other than  "R_soil_C", "R_het_litter_C", "R_auto_root_C", "R_het_soil_C", "R_auto_root_C" or "R_het_soil_C" get "**Non-soil respiration data may come from another study**." added to their _source.notes_ field if their quality flag was originally "Q02" in SRDB.

@teixeirak, please close if that is correct.

[2019-06-06 14:13] #188 closed

[2019-06-06 14:13] #187 closed

[2019-06-06 14:19] teixeirak commented on #185
Good, thanks!

[2019-06-06 14:19] #185 closed

[2019-06-06 15:04] ValentineHerr commented on #183
Site names are now listed in
[sites_where_age_have_been_changed](https://github.com/forc-db/ForC_private/blob/master/data%20to%20add/srdb/new_data/ForC_issue_183_sites_where_age_have_been_changed.csv)
[sites_with_NAC_and_at_least_one_other_age](https://github.com/forc-db/ForC_private/blob/master/data%20to%20add/srdb/new_data/ForC_issue_183_sites_with_NAC_and_at_least_one_other_age.csv)
[sites_legi

[2019-06-06 17:50] ValentineHerr commented on #178
I believe this is fixed but @teixeirak can double check (might need to double check in ForC_simplified once I push everything)

[2019-06-06 18:01] ValentineHerr opened #189 "pull request for SRDB"
@teixeirak ,

I created a new branch called "with_SRDB".

Everything is updated in there (including C cycle diagrams), except range of variables in metadata (I think they are a few outliers to double check).

We can use it to do a final pass to double check everything and then do a pull request.

[2019-06-07 00:18] teixeirak commented on #189
Okay. Do you recommend doing any hand edits before or after merging?

[2019-06-07 01:01] teixeirak commented on #183
Thanks. This reduces the number of sites that need review to a manageable number.

[2019-06-07 01:08] teixeirak commented on #178
I actually see a few cases of plots with treatments where  "unmanaged" or "natural" remains in the plot name. For example:
- measurement.ID=22056: Unmanaged Aggrading Temperate Deciduous Forest with CO2 (534 ppm) treatment. Stand established around 1997
- measurement.ID=22216: Natural Aggrading Tropical NA Forest with Fertilized treatment. Stand established around 1993.5

I don't think these are h

[2019-06-07 01:19] teixeirak commented on #183
I just found an example where a single plots is falsely counted as multiple plots. It is "Kurth_2014_isrr research site in Minnesota USA", "Temperate Deciduous Forest. Stand established around 1950/1951/1952". The same study had plots of age 0-1-2 (measured in 3 consecutive years) that are treated correctly. In SRDB, age 60 is given to all 3 instances of the older plot.

[2019-06-07 01:31] teixeirak opened #190 "SRDB import: delete records for variable = soil when C_soildepth is not given"
@ValentineHerr, please delete records for variable = soil when C_soildepth is not given. These records are meaningless.

[2019-06-07 01:42] teixeirak opened #191 "SRDB import: detect and deal with instances where site-level measurements are repeated multiple times for different plots and years"
I've noticed that our current import script produces instances where site-level measurements are repeated multiple times for different plots and years. This occurs when SRDB records the same value for supplementary C stocks and fluxes (e.g., NPP, biomass, soil) in association with multiple soil respiration measurements. This appears to occur when these measurements are made at a coarser spatial re

[2019-06-07 13:16] ValentineHerr commented on #191
The code does catch that at the plot level but not at the site level:
For the 2 example you gave, all records are for different plots.

I'll change the code to look at the site level only.

Should this apply to all variables?

[2019-06-07 13:35] ValentineHerr commented on #191
In fact first example should be considered as only one plot (see [this issue](https://github.com/forc-db/ForC/issues/183#event-2396021798))

But all 7 records in second example (soil values in Bond-Lamberty_2004_corr) are for different site.names... so I don't know how to fix that.

[2019-06-07 13:36] teixeirak commented on #191
Thanks!

At the site level, for spatial replication, there are two options: (1) delete or (2) create a different plot name.

For temporal replication, what happens at the plot level when repeated across years?

[2019-06-07 13:38] teixeirak commented on #191
For the Kurth example, its true that the the 60 year old plots should be considered one plot, but the same measurement is also assigned to other, legitimately different plots. (Of course, Kurth will end up being deleted completely, so no value discussing that one except as an example of what the code should do.)

[2019-06-07 13:40] ValentineHerr commented on #191
currently the code does not enter the data if it is:
 - same sites.sitename
 - same plot.name
 - same stand.age
 - same variable.name
 - same mean

[2019-06-07 13:45] teixeirak commented on #191
Actually, the soil values in Bond-Lamberty_2004_corr present a bigger problem. They are repeated across different SITES and studies (Wang study for same set of sites, but I'm not seeing those records in our import).

[2019-06-07 13:47] teixeirak commented on #191
It would apply to all variables but soil respiration variables (columns GPP - soil in SRDB).

[2019-06-07 13:59] teixeirak opened #192 "SRDB import: SRDB records are missing in ForC import"
@ValentineHerr , what happened to SRDB record numbers 15-21 (Wang study)? I don't see them in our import. (I was looking for them in relation to issue #191 ).

[2019-06-07 14:06] teixeirak commented on #191
To get at this, we'll need to search for repeats both within sites and within studies.

[2019-06-07 14:07] ValentineHerr commented on #192
Good catch. I had to remove cases where RC_annual and Rs_annual were not both there but I did not handled it correctly and it deleted the whole rows.
I'll fix that.

[2019-06-07 14:07] teixeirak commented on #191
Hopefully this resolves the DETECTION issue. Next question is how to deal with them...

[2019-06-07 14:09] teixeirak commented on #191
Temporal repeats are easy: keep only one instance and put "NAC" for date.

[2019-06-07 14:14] teixeirak commented on #191
For spatial repeats, if values reported by a single study are repeated across _multiple sites_ (e.g., soil values in Bond-Lamberty_2004_corr), I see now option but to delete. Let's keep a file with deleted records, though, in case someone wants to come back later and review/ add those.

[2019-06-07 14:39] teixeirak commented on #192
Would the same apply to Harwood forest (Zerva_2005_seoc)? I noticed missing recrods for that one as well.

[2019-06-07 14:55] teixeirak commented on #191
The remaining challenge is how to deal with values repeated across multiple plots at the same site.

Examples:
- [still looking for one!]

False example:
- Harwood forest has the same Litter_flux for stands aged 12 and 20 (but not 3 other ages in the chronosequence). This appears to be just a coincidence.

It would be nice if we could avoid removing false apparent repeats, which could be done by a

[2019-06-07 14:58] ValentineHerr commented on #192
Yes it does.
they are back now (have not pushed changes yet, still waiting until we figure out dome of the other things)

[2019-06-07 15:31] ValentineHerr commented on #191
- Spatial repeats:

     I think I can Identify cases where values are repeated across all plots of one site (147 sites/variable combinations involved).

     example:
       - site = UnterluSs, variable.name = soil_C2N
       - site = Skogaryd, variable.name = ANPP_litterfall_0_C

**Your solution is to delete those records ? (save them apart), correct?**

  - temporal repeats

     I think I can

[2019-06-07 15:32] ValentineHerr commented on #191
Seeing you earlier comment now...

let me edit above according to it

[2019-06-07 15:50] ValentineHerr commented on #191
hmmm...

not sure how to deal with that.
This will get into the problems we have with plot.name (unmanaged vs treatment etc...)

here,
  - if the vegetative composition made it into the plot name, those records will be handled by the "spatial repeat" solution above (at the site level). Only cases where they would not be handled well is if there are other plots in the corresponding sites, that have

[2019-06-07 16:11] teixeirak commented on #191
That's okay. I'm making the assumption that these ecosystem-level measurements are made on the stand as a whole, and experimental treatments were applied to smaller subplots. Hence, these should not be associated with experimental treatments. @bpbond, does that make sense ?

[2019-06-07 16:12] teixeirak commented on #191
That's also okay.

[2019-06-07 16:46] ValentineHerr commented on #191
for temporal repeats you are saying that, for examples, the following 2 records:

measurement.ID | sites.sitename | plot.name | stand.age | dominant.life.form | dominant.veg | scientific.name | veg.notes | variable.name | date | date.loc | start.date | start.date.loc | end.date | end.date.loc | mean | n | stat.name | stat | area.sampled | notes | method.ID | allometry_1 | allometry_2 | min.dbh | d

[2019-06-07 16:47] ValentineHerr commented on #191
sorry, I didn't meant to close and send that comment, that was an old draft

[2019-06-07 16:50] teixeirak commented on #191
No problem. I got an email with an example, but don't see it anymore. It looked correct.

[2019-06-07 17:21] ValentineHerr commented on #191
Just to confirm, can you look at https://github.com/forc-db/ForC/issues/191#issuecomment-499931557

[2019-06-07 17:29] teixeirak commented on #191
We do want to keep only one record and put "NAC" for age and date. The example you put up (and then deleted?) was correct.

[2019-06-07 17:36] teixeirak commented on #191
In this case, looking at SRDB records 467-468 and 471-472, I'd keep one value for the no-treatment plot, with date =NAC. This is an example of spatial and temporal replicate. The spatial replicate falls into this category (From comment above): "Plots differ in experimental treatment. In this case, please keep the one associated with no experimental treatment. The logic is that these measurements w

[2019-06-07 18:55] ValentineHerr commented on #191
in https://github.com/forc-db/ForC/issues/191#issuecomment-499973701

should I also overwrite age and date of the record I keep?

[2019-06-07 19:06] teixeirak commented on #191
Only when it is repeated temporally.

On Jun 7, 2019, at 11:55 AM, Valentine Herrmann <notifications@github.com<mailto:notifications@github.com>> wrote:

in #191 (comment)<https://nam02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fforc-db%2FForC%2Fissues%2F191%23issuecomment-499973701&data=02%7C01%7Cteixeirak%40si.edu%7C08c6486538a041d9cc5f08d6eb79b66c%7C989b5e2a14e44efe93b78cd

[2019-06-07 19:39] ValentineHerr commented on #191
if fact, for

only records with manipulation = "None" make it in the database, "Compost" (record 468 and 472) is not marked for inclusion in the manipulation file.

That means that I am only dealing with 467 and 471.

See what they look like in ForC format here:
![image](https://user-images.githubusercontent.com/19673377/59128265-91924680-8937-11e9-8d57-8911b9569c5e.png)

It shows me that the plot

[2019-06-07 23:25] teixeirak commented on #191
In the case of this specific example, the only reason it shows up here is because of the age/date discrepancy; if plot names were assigned correctly, your code would remove this duplicate. Records such as this should / would be fixed when these "legitimately_complicated" sites are reviewed, but it will be easier if you keep just one. Definitely for these sites, your approach works (always take the

[2019-06-07 23:27] teixeirak commented on #191
I am surprised about this; it would seem to be just by chance and not because of how the data and code are structured. But if that's the case, we don't need to deal with these.

[2019-06-07 23:47] teixeirak commented on #191
I'm not sure I understand what type of records these are. I would have thought differences in treatment would be one of the lead factors. Do they all differ in age (legitimately or just apparently?) For instances where there are real differences in stand age, I unfortunately don't see any way to retain these in the scripted import. Unlike treatments applied to small subplots within a stand, age di

[2019-06-10 14:36] ValentineHerr commented on #191
Final handling after in person dicussion:

1. Repeats in a same plot --> keep only one record and replace:

        - stand.age <- "NAC"
        - date <- "NAC"
        - date.loc <- 9
        - start.date <- "NAC"
        - start.date.loc <- 9
        - end.date <- "NAC"
        - end.date.loc <- 9

2. Repeats  for **all** plots of one site --> keep only record(s) where SRDB Manipulation is "None

[2019-06-10 16:02] ValentineHerr commented on #178
for the first example (SRDB record 1634), it is because it says "unmanaged" in SRDB _Ecosystem_state_
for the second example  (SRDB record 1986) it is because it says "natural" in SRDB _Ecosystem_state_

I added some code to say
"... OR if Ecosystem_state is "Unmanaged" or "Natural" and manipulation is not c("None", "No inputs"), ... then do not put Ecosystem_state in the plot.name".

Hopefully th